.spacer {
  box-sizing: border-box;
  height: 80px;
  padding: 2em 1em;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 578px;
}

#mainInfo {
  font-family: 'soberana_sanslight';
  padding: 0 1em;
  overflow-y: scroll;
  height: 100%;
  height: 100%;
  flex: 1.7;
}
#mainInfo .note {
  border: 1px solid #333;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0.5em;
  font-family: 'soberana_sansbold';
}
#mainInfo::-webkit-scrollbar {
  width: 1em;
}
#mainInfo::-webkit-scrollbar-track {
  background: #E9E8E2;
}
#mainInfo::-webkit-scrollbar-thumb {
  background-color: #B2B2B2;
}

#mainImage {
  flex: 1;
  text-align: center;
}
.linker{
  color: #a9a9a9;
}
ul.noStyled {
  list-style-type: none;
}

ul.numbered {
  list-style-type: decimal;
}

ul.lettered{
  list-style-type: lower-latin;
}

table {
    border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

table td[colspan="2"] {
  text-align: center;
}

table td.title {
  background: #B5C7E6;
  color: white;
}

table.for4 td {
  width: 25%;
}

table.cronograma{
  width: 100% ;
  text-align: center;
}

table.cronograma td{
  width: 20%;
}
table.cronograma .bold{
  background: #5E9CD3;
}
table.cronograma tr{
  background: #D7E6F3;
}
table.cronograma tr.bold{
  background: #AECCE9;
}


table td {
  width: 50%;
  vertical-align: top;
}
table td.center {
  text-align: center;
}

footer {
  text-align: right;
  padding-top: 0.5em;
}

footer img {
  width: 100%;
}
footer .section {
  background: url(../img/bandera.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  text-transform: capitalize;
  font-family: 'soberana_titularregular';
  text-align: right;
  margin-right: 3em;
  padding-right: 1em;
  margin-top: 0.5em;
  font-size: 1.6em;
}
