html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
  overflow: hidden;
}

body {
  margin: 0 auto;;
  min-width: 1024px;
  min-height: 768px;
  position: relative;
  overflow-x: hidden;
}
