<div class="spacer">
  <sound src="Audio 1 relajacion respiracion" ></sound>
</div>

<div class="content">
  <div id="mainInfo">
    <h2>PRESENTACIÓN</h2>
    <p>
      Hoy en día se estima que casi el 70% de los adultos mayores de 60 años en México conservan la salud y que más del 50% no tiene discapacidad alguna. Sin embargo, la atención en el hogar de un enfermo o una persona con dependencia ha ido en crecimiento en las últimas décadas. Esto propicia que las instituciones de salud y seguridad social sitúen el hogar como el principal escenario en el cual se realice el cuidado de los enfermos, considerando a la familia como el elemento fundamental para llevarlo a cabo.
    </p>
    <p>
      De acuerdo con estimaciones del Instituto Nacional de Estadística y Geografía (INEGI), entre el 69 y 77% de quienes proporcionan cuidado al interior de los hogares, son mujeres. Ellas se desempeñan como cuidadoras informales, ya sea por elección o por imposición moral y social. Son un grupo socialmente vulnerado, pues a pesar de que existe conocimiento de las condiciones desfavorables con las que tienen que lidiar las cuidadoras, no se han establecido mecanismos que les permitan  afrontar estas desventajas sociales.
    </p>
    <p>
      Las tareas de cuidado en los hogares y las labores domésticas tienen un alto valor social y económico que no ha sido reconocido. En México, en el 2011, este tipo de trabajo representó el 21.6% del Producto Interno Bruto. El trabajo de cuidados y apoyo a los integrantes del hogar es el grupo de actividades de mayor peso económico (INEGI, 2011).
    </p>
    <p>
      En el 2014 el Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado (ISSSTE), a través de la Dirección de Prestaciones Económicas, Sociales y Culturales y de la Subdirección de Capacitación y Servicios Educativos, colocó en su portal el Curso de Apoyo para Cuidadores Informales de Personas Envejecidas, disponible para todo público, el cual se centró en los cuidados básicos de las personas mayores en el hogar y en el cuidado de los y las cuidadoras.
    </p>
    <p>
      Dando continuidad a los esfuerzos impulsados y al cumplimiento de lo establecido en la Política Institucional de Atención al Envejecimiento del ISSSTE, en los distintos acuerdos internacionales en la materia y, particularmente, considerando y visibilizando las necesidades detectadas entre la población derechohabiente presentamos este nuevo curso. En él compartiremos conocimientos, experiencias e información de calidad que permita incrementar tus habilidades y estrategias para que puedas proporcionar un mejor cuidado para ti y para el familiar frágil o con alguna demencia que recibe tu ayuda cotidianamente.
    </p>
    <p>
      Estamos seguros de que aquí encontrarás información sencilla que será de tu utilidad y que ayudará a mejorar la calidad de vida de ambos. El ISSSTE, preocupado por el bienestar de su derechohabiencia, continuará desarrollando materiales que impacten positivamente el estado de salud y bienestar de los trabajadores del Estado.
    </p>
  </div>
  <div id="mainImage">
    <img src="img/1 hombre.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    1. PRESENTACIÓN
  </div>
</footer>
