<nav id="menu">
  <ul>
    <li> <a routerLink="info/presentacion" routerLinkActive="active">Presentación</a></li>
    <li> <a routerLink="info/introduccion" routerLinkActive="active">Introducción</a></li>
    <li> <a routerLink="info/demenciayfragilidad" routerLinkActive="active">Demencia y fragilidad</a></li>
    <li> <a routerLink="info/cuidadosfisicos" routerLinkActive="active">Ciudados físicos</a></li>
    <li> <a routerLink="info/ayudastecnicas" routerLinkActive="active">Ayudas técnicas</a></li>
    <li> <a routerLink="info/ultimotemar" routerLinkActive="active">Último tema</a></li>
  </ul>
</nav>
