<nav id="menu">
  <ul>
    <li> <a routerLink="presentacion" routerLinkActive="active">Presentación</a></li>
    <li> <a routerLink="introduccion" routerLinkActive="active">Introducción</a></li>
    <li> <a routerLink="demenciayfragilidad" routerLinkActive="active">Demencia y fragilidad</a></li>
    <li> <a routerLink="cuidadosfisicos" routerLinkActive="active">Ciudados físicos</a></li>
    <li> <a routerLink="ayudastecnicas" routerLinkActive="active">Ayudas técnicas</a></li>
    <li> <a routerLink="cuidador" routerLinkActive="active">Cuidados del Cuidador</a></li>
    <li> <a routerLink="recomendaciones" routerLinkActive="active">Recomendaciones y sugerencias</a></li>
  </ul>
</nav>
