.logos {
  box-sizing: border-box;
  padding: 2em 3em;
  width: 100%;
}

.logos #isste {
  float: right;
}


#tittle {
  background: url("img/main.jpg");
  box-sizing: border-box;
  padding-top: 1em;
}

#tittle h1 {
  font-family: 'soberana_titularbold';
  text-align: center;
  color: #636468;
  font-size: 2.5em
}


.footer {
  background: url("img/footer.jpg");
  color: #fff;
  font-family: 'soberana_sanslight';
  font-size: 1.3em;
  height: 110px;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-right: 2em;
  text-align: right;
}

.footer span {
  position: relative;
  top: 84px
}
