<main-menu> </main-menu>
<div class="logos">
  <img id="gobierno" src="img/logomexico.png" alt="" class="logo">
  <img id="isste" src="img/logoissste.png" alt="" class="logo">
</div>
<div id="tittle">
  <h1>Curso de Apoyo Para Cuidadores Informales de Personas Envejecidas Frágiles y con Demencia</h1>
  <slider-component speed="50" ></slider-component>
  <div class="footer">
    <div class="text">
      <light-box mode="text" trigger="Instrucciones">
      <img src="img/instrucciones curso2-01.jpg">
      <img src="img/instrucciones curso2-02.jpg">
    </light-box>
    <span> / </span>
    <light-box mode="text" trigger="Créditos">
      <img src="img/creditos curso2-01.jpg">
    </light-box>
    </div>
  </div>
</div>
