<div class="spacer">

</div>

<div class="content">
  <scroller>
    <h1> CUIDADO DEL CUIDADOR</h1>
    <p>Esta es la última parte del curso, pero para nosotros la más importante. Aquí encontrarás información sobre la labor del cuidado y herramientas que, esperamos, sean de utilidad para mejorar tu calidad de vida. Reconocemos la importancia y el valor social de la actividad que desempeñas, sabemos que no es fácil e implica un esfuerzo enorme de tu parte. Por ello, es fundamental que cuides tu salud en todas sus áreas, para estar bien y para que puedas capitalizar esta experiencia de vida en el futuro.</p>
    <p>Revisa con atención este apartado y realiza las actividades que te proponemos. Sólo tomarán unos minutos al día y pueden ayudarte a sentirte mejor.</p>
    <ul class="numbered linker">
      <li> <linker href="#cuidar"> ¿Qué es cuidar y quién es el cuidador? </linker> </li>
      <li> <linker href="#importante"> ¿Por qué es importante el cuidado de la persona que cuida? </linker> </li>
      <li> <linker href="#cuidarme"> ¿Cómo puedo cuidarme mejor si soy una persona que cuida? </linker> </li>
      <li> <linker href="#ejerciciosfisicos"> Ejercicios físicos pensados para ti. </linker> </li>
      <li> <linker href="#ejercicios"> Ejercicios de relajación pensados para ti. </linker> </li>
      <li> <linker href="#salud"> La salud emocional. </linker> </li>
    </ul>

    <h2 id="cuidar">1.	¿Qué es cuidar y quién es el cuidador?</h2>
    <sound src="Liga 7-1"></sound>
    <h3>Cuidar</h3>
    <p>La tarea del cuidado es una actividad cotidiana que ha existido en todos los tiempos y que se practica a lo largo de la vida. Existen diversas formas y sujetos de cuidado que varían dependiendo de los contextos culturales, históricos y algunas condiciones de vida o características. Todos cuidamos y recibimos cuidados en algún momento de nuestras vidas, especialmente en la infancia y más adelante, cuando por alguna razón vemos afectada nuestra funcionalidad física, mental o social, ya sea temporal o de forma definitiva.</p>
    <p>Cuidar trae consigo una serie de satisfacciones, pues implica alimentar una relación de afecto, demostrar interés por el otro, reconocimiento familiar o social y, para algunos, un enriquecimiento espiritual. Sin embargo, no siempre es un acto gratificante, pues involucra un desgaste físico, mental, emocional y económico para quien cuida, especialmente cuando la condición de la persona que lo requiere, es de gran dependencia.</p>
    <h3>El cuidador</h3>
    <p>El cuidador es aquella persona que, ya sea por vínculos de parentesco o cercanía, asume la responsabilidad del cuidado de una persona que cursa por una enfermedad crónica o alguna condición que genera dependencia. Generalmente se trata de mujeres que tienen un lazo familiar con la persona a su cuidado. Participan en la atención de quien lo requiere en muchos o en todos los aspectos de la vida diaria; además, muchas veces están a cargo de las decisiones importantes sobre el enfermo y sobre el hogar.</p>
    <p>Las personas que cuidan a otras personas realizan diariamente una serie de actividades que a la larga son desgastantes, abrumadoras física y emocionalmente; esto se incrementa si se trata de una persona frágil o con algún tipo de demencia.</p>
    <p>Las personas que viven con las condiciones señaladas anteriormente, sobre todo en etapas avanzadas, requieren mayor atención, cuidados y supervisión constante. En la mayoría de los casos la persona que cuida se hace cargo de un sinfín de actividades. </p>
    <p>Algunas de las tareas que desempeñan, son las siguientes: </p>

    <table class="for4">
      <tr>
        <th>Alimentación</th>
        <th>Vestimenta</th>
        <th>Higiene</th>
        <th>Eliminación</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li> Compra los insumos. </li>
            <li> Prepara la comida. </li>
            <li> Sirve la comida. </li>
            <li> Alimenta a la persona. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Apoya en la selección de la ropa. </li>
            <li> Viste, apoya o supervisa el proceso. </li>
            <li> Desviste, apoya o supervisa el proceso. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Supervisa la higiene. </li>
            <li> Baña o supervisa el baño. </li>
            <li> Lava o supervisa el lavado de dientes o dentadura. </li>
            <li> Verifica la limpieza de la ropa. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Acompaña al baño.</li>
            <li> Cambia pañales.</li>
            <li> Maneja los desechos del hogar.</li>
          </ul>
        </td>
      </tr>

      <tr>
        <th>Administración del hogar</th>
        <th>Medicamentos</th>
        <th>Adaptaciones</th>
        <th>Seguridad</th>
      </tr>

      <tr>
        <td>
          <ul>
            <li> Administra los recursos económicos. </li>
            <li> Se encarga de las compras. </li>
            <li> Administra los gastos. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Supervisa la toma de medicamentos. </li>
            <li> Mantiene el contacto con el personal de salud. </li>
            <li> Organiza las citas médicas. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Realiza adaptaciones al hogar. </li>
            <li> Modifica el mobiliario. </li>
            <li> Diseña ayudas técnicas. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Realiza cambios en la habitación y en el hogar para evitar accidentes. </li>
            <li> Mantiene alejadas las sustancias tóxicas. </li>
            <li> Se asegura de que la persona no se lesione o extravíe. </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Movilización</th>
        <th>Descanso</th>
        <th>Ocio y recreación</th>
        <th>Diseño de estrategias</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li> Apoya en los traslados. </li>
            <li> Asiste en la deambulación. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Vigila el sueño. </li>
            <li> Procura un ambiente adecuado para el descanso.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Propone actividades de ocio. </li>
            <li> Acompaña a paseos. </li>
            <li> Facilita el acceso al entretenimiento. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Establece rutinas. </li>
            <li> Propone planes de intervención para mejorar la calidad de vida. </li>
          </ul>
        </td>
      </tr>


      <tr>
        <th>Comunicación</th>
        <th>Apoyo emocional</th>
        <th>Apoyo espiritual</th>
        <th>Manejo de crisis</th>
      </tr>

      <tr>
        <td>
          <ul>
            <li> Es intermediario entre el enfermo y sus familiares y otras personas. </li>
            <li> Conoce el lenguaje verbal y no verbal del enfermo. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Escucha. </li>
            <li> Atiende quejas. </li>
            <li> Consuela. </li>
            <li> Mima. </li>
            <li> Apoya al enfermo durante episiodios de ansiedad. </li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Apoya al enfermo para tener acceso a prácticas espirituales acordes con sus creencias y valores.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Establece mecanismos para manejar las crisis.</li>
            <li> Conoce las redes de apoyo social.</li>
            <li> Alerta a la familia y al personal de salud sobre problemáticas.</li>
          </ul>
        </td>
      </tr>
    </table>

    <p>El listado anterior muestra algunas de las actividades que los cuidadores realizan; no obstante, cada persona demanda cubrir necesidades específicas para garantizar su bienestar, por lo que dichas actividades pueden variar e incluir otras.</p>
    <p>El trabajo de cuidado no es considerado una actividad remunerada en muchas sociedades, sino una labor relacionada con el deber y con el compromiso familiar o moral. La realidad es que muchas personas cuidan porque no hay otra opción, porque no se puede pagar a alguien más o por razones culturales. Muchas personas, especialmente mujeres, cuidan todo el día y se ven en la necesidad de abandonar sus empleos, su pareja e incluso su proyecto de vida por realizar esta actividad.</p>
    <p>Ante estas situaciones y ante la condición de dependencia de la persona que cuida, los cuidadores  pueden sentir impotencia, desesperación, angustia o culpa. Estos sentimientos son comunes y se deben al desgaste físico, emocional y mental que surge como consecuencia de proveer cuidados por un tiempo prolongado. </p>
    <p>Para llevar a cabo esta práctica de forma segura y efectiva, es muy importante que los cuidadores reciban atención y cuidados también. El cuidado del cuidador es necesario para gantarizar el mejor estado de salud y calidad de vida de él mismo y de quien lo requiere.</p>

    <h2 id="importante">2. ¿Por qué es importante el cuidado de la persona que cuida?</h2>
    <sound src="Liga 7-2"></sound>

    <p>El autocuidado es el conjunto de prácticas y decisiones que cotidianamente realiza una persona, familia o grupo para cuidar su salud. El autocuidado se relaciona con las habilidades aprendidas a lo largo de toda la vida, que se realizan con el fin de mantener, recuperar o prolongar la salud y prevenir la enfermedad. Es importante señalar que el autocuidado:</p>
    <ul>
      <li> Es nato (guiado por el instinto), aprendido (por medio de la familia y basado en patrones culturales) y razonado (el que realizamos de forma consciente).</li>
      <li> Cuando es razonado, es una práctica voluntaria y consciente.</li>
      <li> Implica una responsabilidad individual y un compromiso consigo mismo.</li>
      <li> Está vinculado a las redes de apoyo social formales (instituciones de seguridad social y salud) e informales (familia, comunidad, amigos).</li>
      <li> Implica un autoconcepto sólido (pensamientos, ideas, creencias y opiniones sobre uno mismo), una autoestima elevada (tener conciencia, autoaceptación, ser responsable con uno mismo, saber quién soy y qué quiero, vivir con un propósito y ser íntegro), autorregulación (capacidad de planear, ejecutar y evaluar mis decisiones) y autodeterminación (posibilidad de tomar decisiones en todas las esferas de la vida).</li>
    </ul>
    <p>El agotamiento y cansancio de los cuidadores es más común y frecuente de lo que se piensa; el desgaste físico, mental y emocional de la persona que cuida puede reflejarse de maneras diversas como: </p>

    <ul>
      <li><b>Estados de ánimo inadecuados </b></li>
    </ul>

    <p>Algunas personas pueden experimentar sentimientos asociados con tristeza profunda, cansancio, desgano y apatía. Cuando no se atienden, pueden derivar en algún tipo de depresión. </p>
    <p>Otro sentimiento es el enojo. En ocasiones una forma de manifestar la fatiga y cansancio es a través del disgusto, el enfado o la  irritación, que se refleja en la sensación constante de molestia e incomodidad. </p>
    <p>Los estados de ánimo inadecuados deben atenderse, porque estos sentimientos acumulados pueden transformarse en manifestaciones de violencia dirigidas hacia la persona que es cuidada. </p>

    <ul>
      <li><b>Fatiga crónica</b></li>
    </ul>

    <p>Cuando se manifiesta la fatiga crónica, la persona que cuida, constantemente siente cansancio, agotamiento, debilidad, desgano y falta de energía. Cuando esto ocurre, aunque tengan la oportunidad de tomar descansos o dormir, al despertar hay una sensación de no haber descansado lo suficiente. </p>

    <ul>
      <li><b>Olvidos frecuentes</b></li>
    </ul>

    <p>Cuando el tiempo de cuidar a otra persona dependiente se ha prolongado por varios años, es frecuente que aparezcan los olvidos; la memoria comienza a fallar en cosas y actividades que antes se hacían sin ningún problema. Se extravían objetos como las llaves, se olvidan los horarios de los fármacos, las citas médicas e incluso se puede olvidar que se dejó algo en la estufa. Esto puede provocar, en algunas ocasiones, accidentes.</p>
    <ul>
      <li><b>Estrés crónico</b></li>
    </ul>
    <p>Es el resultado de una serie de esfuerzos que hace la persona que cuida por satisfacer todas las necesidades de la persona que es cuidada, y por cumplir con todas las actividades que debe realizar. </p>
    <p>Las personas que cuidan y que se encuentran durante mucho tiempo bajo situaciones agobiantes que les demandan un gran esfuerzo físico y emocional, se ven expuestas a estrés crónico. Podemos pensar que lo estamos experimentando cuando: </p>
    <ul>
      <li> Tenemos dificultad para conciliar el sueño. </li>
      <li> Tenemos trastornos intestinales frecuentes (estreñimiento o diarreas). </li>
      <li> Sentimos dolor abdominal (colitis y gastritis). </li>
      <li> Necesitamos satisfactores inmediatos que sabemos que nos pueden perjudicar (fumar, beber alcohol, tomar café, comer chocolate, helados, entre otros). </li>
      <li> Presentamos problemas en la piel como urticaria o ronchas. </li>
    </ul>

    <p>En casos más severos de estrés crónico, se pueden presentar:</p>
    <ul>
      <li> Tics nerviosos  </li>
      <li> Pérdida de cabello </li>
      <li> Adelgazamiento de uñas </li>
      <li> Pérdida del apetito </li>
      <li> Episodios de ansiedad  </li>
      <li> Aumento o disminución de la talla o medidas del abdomen </li>
    </ul>

    <p>Todo esto hace indispensable que las personas que cuidan a otras, y particularmente a aquellas con fragilidad o con algún tipo de demencia, deban procurar su salud, física, mental, espiritual y emocional. </p>
    <p>Muchas veces, como cuidadores, pensamos que nuestra situación es única y nos sentimos presionados, molestos, incómodos, tristes o avergonzados de nuestras actitudes hacia la labor del cuidado. Es importante recordar que no estamos solos, que existen otras personas que padecen o viven el cuidado como nosotros. A continuación compartimos contigo la experiencia de una cuidadora de una persona con demencia. Es importante que la escuches y reflexiones sobre la importancia del autocuidado para prevenir el agotamiento.</p>

    <h3>Entrevista a cuidadora.</h3>
    <p>A continuación puedes escuchar la entrevista a una cuidadora y probablemente te identifiques con muchas de las situaciones que viven los cuidadores.</p>
    <sound color="red" src="Entrevista cuidadora"></sound>

    <h2 id="cuidarme">3. ¿Cómo puedo cuidarme mejor si soy una persona que cuida?</h2>
    <sound src="Liga 7-3"></sound>

    <p> Todas las personas tenemos la necesidad de cuidar de nuestro cuerpo, sólo que a veces la carga de trabajo, los compromisos familiares y las múltiples actividades que debemos realizar en el día, no nos permiten cuidarnos de manera adecuada, o bien, darnos cuenta de que necesitamos cuidarnos de mejor manera. </p>
    <p> Lo mismo sucede y se intensifica con las personas que cuidan, pues la mayoría de las veces, la carga de trabajo es tan amplia que queda muy poco tiempo para satisfacer necesidades elementales como dormir, descansar, manejar las tensiones y el estrés, provocado por las actividades que se realizan cuando cuidamos a otros. </p>
    <p> Cuidar la propia salud puede parecer sencillo, pero no lo es cuando otros dependen de nosotros y pareciera que estamos en segundo lugar. A continuación te presentamos algunas accciones muy concretas que puedes llevar a cabo y que podrían tener un impacto muy positivo en tu salud: </p>
    <ul class="numbered linker">
      <li>
        <linker src="#dormirbien">Dormir bien. </linker>
      </li>
      <li>
        <linker src="#ejerciciofisico">Hacer ejercicio físico. </linker>
      </li>
      <li>
        <linker src="#manejarestres">Manejar el estrés. </linker>
      </li>
    </ul>

    <h3 id="dormirbien">Dormir bien</h3>
    <sound src="Liga 7-3.1"></sound>

    <p>Dormir bien puede entenderse de diversas maneras; por ejemplo, como un momento de descanso, relajación o reposo; pero el acto de dormir significa más que eso, pues para nuestro cuerpo las horas que dormimos son el tiempo que nuestros órganos y sistemas utilizan para reparar y reajustar todas sus funciones.</p>
    <p>Por tanto, nuestro cuerpo requiere que le permitamos utilizar el tiempo necesario para su reposo y recuperación. Los adultos debemos dormir entre seis y ocho horas diarias para lograrlo, pues en este periodo se recupera de todas las actividades que realizamos y podemos tener un mayor rendimiento físico y mental durante el día, para tomar decisiones con mayor claridad y responder a las exigencias que se nos presentan. </p>
    <p>Pero no siempre dormir mucho significa descanso. Algunas veces las personas vamos a la cama a dormir y despertamos con la sensación de no haber descansado, nos duele el cuerpo, nos sentimos pesados, somnolientos, agotados y como con la cabeza adormecida; estas pueden ser señales de que no estamos durmiendo adecuadamente. </p>

    <p><b>¿Cómo puedo favorecer un buen descanso al dormir?</b></p>
    <p>Para que podamos tener un buen dormir es importante lograr una correcta higiene del sueño. A continuación, enlistamos una serie de recomendaciones para conseguirla:</p>

    <ul>
        <li> Mantener un horario regular para acostarse y levantarse.</li>
        <li> Tomar siesta, sólo si es una costumbre, y sin sobrepasar los 20 minutos.</li>
        <li> Hacer ejercicio físico de forma regular durante la mañana y caminar por la tarde. Evite hacer ejercicio antes de ir a la cama.</li>
        <li> Procurar una alimentación equilibrada.</li>
        <li> Evitar cenas abundantes, ricas en grasas o condimentadas.</li>
        <li> Utilizar la cama sólo para dormir y no para leer o para la ver el televisor.</li>
        <li> Ir a la cama sólo cuando tenga sueño.</li>
        <li> Usar luz tenue y tratar de relajarse desde 30 minutos antes de acostarse.</li>
        <li> Mantener la calma y realizar respiraciones lentas y profundas, cuando no pueda conciliar el sueño después de 30 minutos.</li>
        <li> Evitar siestas después de comer, durante la digestión.</li>
        <li> Mantener una temperatura adecuada en el dormitorio.</li>
        <li> Tratar de aislar ruidos que puedan perturbar el sueño.</li>
        <li> Usar ropa cómoda para dormir y una cama confortable.</li>
        <li> Manter el dormitorio ventilado durante el día.</li>
        <li> Levantarse temprano aunque haya dormido mal.</li>
        <li> Evitar tener relojes o despertadores en la recámara.</li>
        <li> Evitar consumir líquidos antes de dormir.</li>
        <li> Evitar el consumo de sustancias estimulantes como café, refrescos de cola o té. </li>
    </ul>
    <p>Para los cuidadores, dedicar las suficientes horas de sueño para que su cuerpo se mantenga descansado y saludable; es de suma importancia; es casi una obligación. Siempre existe la posibilidad de modificar los horarios, de pedir ayuda, o hacer algo para mejorar nuestra salud y bienestar, así que no dudes en implementar algunas de las recomendaciones que ya mencionamos. </p>
    <h3 id="ejerciciofisico">Hacer ejercicio físico</h3>
    <sound src="Liga 7-3.2"></sound>

    <p> Cuando las personas no hacemos ejercicio o nuestra actividad física es limitada o reducida, nuestro cuerpo poco a poco se enferma, se vuelve débil y es muy propenso a desarrollar enfermedades. </p>
    <p> No practicar ejercicio puede traer a nuestra vida una serie de malestares, que muy probablemente al principio no causen mayores problemas, pero con el paso de los años se convertirán en incomodidades constantes y, posiblemente, en enfermedades tratables, pero no curables. </p>

    <p> Algunas de las consecuencias de no practicar ejercicio son: </p>
    <ul>
      <li> Se pierde paulatinamente fuerza en los músculos, nuestra resistencia disminuye y nos cansamos ante un esfuerzo físico como caminar varias calles, subir o bajar escaleras.  </li>
      <li> Es más difícil para el cuerpo procesar las grasas y, como resultado, aparece el sobrepeso.  </li>
      <li> La mayoría de las veces el cuerpo se siente cansado o pesado.  </li>
      <li> Tenemos menor capacidad para respirar, y por eso nos cansamos con mayor facilidad.  </li>
      <li> La piel se maltrata; los poros están tapados por no sudar suficientemente. </li>
      <li> Existe mayores posibilidades de enfermedades del corazón. </li>
      <li> Se deteriora la capacidad sexual; particularmente el deseo disminuye. </li>
      <li> El estado de ánimo es ambivalente y se incrementa el riesgo de periodos depresivos o ansiosos.  </li>
      <li> Al ganar peso, se incrementa el riesgo de desarrollar presión alta y diabetes. </li>
    </ul>

    <p>Las desventajas de no practicar ejercicio físico con regularidad pueden ser severas. Por eso es importante tratar de incluir en nuestra vida daría el ejercicio físico. No es necesario asistir a un gimnasio, comprar equipos caros, o hacer rutinas de ejercicio complicadas. De 20 a 30 minutos de ejercicio físico diariamente es suficiente. </p>

    <p><b>¿Tener actividad física es lo mismo que hacer ejercicio físico?</b></p>
      <p> Todas las personas nos movemos y, por tanto, desarrollamos actividad física. Cuando caminamos, subimos o bajamos escaleras, al desplazarnos de la casa al trabajo, al desempeñar las actividades que desarrollamos diariamente. Si el trabajo que realizamos es en casa, entonces cuando barremos o trapeamos, e incluso cuando buscamos algo en la alacena o nos preparamos un café, estamos teniendo actividad física. Pero en realidad, el tipo de actividad física que nuestro cuerpo necesita para estar y sentirse bien, es el ejercicio. </p>
      <p> El ejercicio físico es un tipo de actividad física, que hace que nuestro corazón se acelere, que lata más veces por minuto y que, en consecuencia, respiremos más y todo nuestro cuerpo se llene de oxígeno, que la sangre de nuestro cuerpo fluya más rápido, que aumente nuestra temperatura corporal, entre muchas otras reacciones. </p>
      <p> Cuando todo esto pasa, nuestro cuerpo funciona mejor; se asimilan los nutrientes de los alimentos que comemos, las grasas se procesan y se eliminan más rápido; mejora nuestro estado de ánimo y hasta se puede conciliar el sueño más fácilmente. </p>
      <p> Hacer ejercicio físico con regularidad trae otros beneficios y con el paso del tiempo encontramos que: </p>

      <ul>
        <li> Mejora la función del corazón. </li>
        <li> Pueden prevenirse estados depresivos y ansiosos. </li>
        <li> Puede llegar a estabilizarse la presión, tanto alta como baja. </li>
        <li> Puede regularse el azúcar en la sangre. </li>
        <li> Se fortalecen los pulmones. </li>
        <li> Los huesos se hacen más resistentes. </li>
        <li> Ayuda a regular el sobrepeso. </li>
        <li> Mejora la función sexual. </li>
        <li> Mejora la coordinación, la fuerza de nuestros músculos y la resistencia. </li>
      </ul>

      <p>Para las personas cuidadoras, la posibilidad de hacer ejercicio se convierte es un aspecto central de autocuidado, pues es una forma de favorecer y garantizar su salud.</p>


      <h3 id="manejarestres">Manejar el estrés</h3>
      <sound src="Liga 7-3.3"></sound>

      <p> Todas las personas vivimos con estrés, pero cuando es demasiado, nuestro cuerpo reacciona, enviándonos señales para avisarnos que tenemos que hacer algo. La mayoría de las veces no somos capaces de reconocerlas o no les prestamos atención, no les damos importancia o simplemente las dejamos pasar. Peor aún, a veces tomamos algún medicamento para disfrazar los malestares de nuestro cuerpo, en lugar de reconocer el problema y atenderlo. </p>
      <p> El estrés es una respuesta natural del organismo ante situaciones o experiencias que consideramos desafiantes. La valoración de estas situaciones cambia de persona a persona y depende de las propias experiencias. Existen cuatro elementos que nos indican que nos enfrentamos a una situación estresante, esto es, cuando la condición a la que nos enfrentamos es novedosa, es impredecible, genera la sensación de pérdida de control o es una amenaza y, por último, altera nuestra personalidad. </p>

    <p><b>¿Qué le ocurre a las personas cuando saben manejar su estrés?</b></p>
    <p>Las ventajas de aprender a manejar nuestro estrés son innumerables, particularmente para las personas cuidadoras, pues se logra:</p>
    <ul>
      <li> Una disminución de los malestares físicos y padecimientos agudos.</li>
      <li> Una sensación general de bienestar, tranquilidad y paz.</li>
      <li> Mejorar nuestro estado de ánimo.</li>
      <li> Pensar con mayor claridad, favoreciendo la toma de decisiones.</li>
      <li> Estar más fuertes y con energía suficiente para realizar las actividades diarias.</li>
      <li> Dimensionar y enfrentar los problemas.</li>
    </ul>
    <p>Mantener a raya el estrés trae a nuestra vida importantes beneficios, entre ellos conservarnos saludables. Aprender a relajarnos siempre será una herramienta importante, sobre todo si eres una persona que cuida de otra que es dependiente.</p>

    <h2 id="ejerciciosfisicos">4. Ejercicios físicos pensados para ti</h2>
    <sound src="Liga 7-4"></sound>

    <p> Nuestro cuerpo está diseñado para moverse, no importa la edad que tengamos o la condición en la que nos encontremos; siempre existe una opción para ejercitarnos. Si durante tu vida has realizado ejercicio físico con regularidad, este es el momento ideal para retomarlo. Sólo recuerda que lo debes hacer de forma gradual.  </p>
    <p> Si eres de las personas que nunca han realizado ningún tipo de ejercicio, entonces te recomendamos comenzar por hacer pequeñas caminatas, recorriendo algunas cuadras alrededor de tu casa, o bien, en un parque. Comienza de manera gradual, iniciando con 5 minutos al día, e incrementando el tiempo poco a poco hasta que logres caminar 30 minutos. Es importante que camines de cuatro a cinco veces a la semana para que tu cuerpo comience a experimentar los beneficios de hacer ejercicio físico. Te recomendamos: </p>
    <ul>
      <li> Usar calzado firme y cómodo. </li>
      <li> Caminar sobre piso plano y firme para evitar accidentes. </li>
      <li> Realizar el ejercicio de preferencia por las mañanas. </li>
      <li> Acompañar el ejercicio de una alimentación saludable. </li>
      <li> Si es posible, caminar con algún familiar o amigo </li>
    </ul>
    <p>Aquí te dejamos dos opciones de ejercicio físico que puedes hacer en tu casa. No te preocupes si hace mucho tiempo o nunca has hecho ejercicio. Si es así, te recomendamos que comiences con los que aparecen en el video titulado Ejercicio Físico Ligero. Después de un mes podrás hacer el segundo. Si haces ejercicio con regularidad, entonces puedes hacer el video titulado Ejercicio Físico Moderado. </p>

    <video-view src="ejercicio ligero"></video-view>
    <video-view src="ejercicio moderado"></video-view>

    <h2 id="ejercicios">5.	Ejercicios de relajación pensados para ti </h2>
    <sound src="Liga 7-5"></sound>

    <p>Aprender a estar relajado te ayudará a sentirte de mejor ánimo, a cuidar de tu salud física, mental y emocional. Hay muchas formas de relajarse, como tomar un baño tibio antes de dormir, hacer ejercicio, o bien, tomando un descanso de algunas horas. Sin embargo, cuando no se tiene mucho tiempo es indispensable contar con estrategias simples, efectivas y que no impliquen demasiado tiempo. Aquí encontrarás dos herramientas con las que puedes aminorar tu estrés.</p>
    <h3>Ejercicio 1</h3>
    <p>Este es un breve ejercicio de relajación, en el cual te guiamos paso a paso, a través de respiraciones profundas por un recorrido en el que podrás relajarte. Cuando respiramos de manera adecuada y pausadamente, el aumento del oxígeno en nuestro cuerpo nos ayuda a relajar los músculos del cuerpo y a despejar la mente. </p>
    <p>Antes de iniciar el ejercicio te recomendamos que primero lo escuches completo; recuerda que es muy importante que mientras respires inhales y exhales siempre por la nariz.</p>
    <sound src="Audio 1 relajacion respiracion"></sound>
    <h3>Ejercicio 2</h3>
    <p> Cuando necesitamos relajarnos, una forma efectiva de hacerlo es frotando y masajeando las partes de nuestro cuerpo; esto permite que los músculos de nuestro cuerpo generen calor y, en consecuencia, se aflojen.  </p>
    <p> Realizando este ejercicio podrás relajarte a través de un masaje a tu cuerpo. En este ejercicio recorrerás tu cuerpo de la cabeza a tus pies.  </p>
    <p> Antes de iniciar el ejercicio te recomendamos que primero lo escuches completo; recuerda que es muy importante que mientras haces el ejercicio no te olvides de respirar; inhala y exhala siempre por la nariz. Así que busca un lugar cómodo en donde puedas realizar este ejercicio y prepárate para relajarte. </p>
    <sound src="Audio 2 relajacion masaje"></sound>


    <h2 id="salud">6.	La salud emocional </h2>
    <sound src="Liga 7-6"></sound>

    <p> Un aspecto de suma importancia para las personas cuidadoras es mantener y favorecer su salud emocional, no sólo por las actividades de cuidado que realiza, sino por las implicaciones emocionales que representa el cuidar de una persona con fragilidad con algún tipo de demencia.</p>
    <p> Las personas que se encuentran en esas situaciones, desafortunadamente, no mejoran; pueden estar controladas con algunos medicamentos, pero eso no quiere decir que se aliviarán. Esto trae como consecuencia que a medida que pasa el tiempo, la persona va empeorando, enfermando y dependiendo cada vez más, por lo que requerirá más ayuda de la que ya recibe.</p>
    <p> Esta situación de aumento del deterioro, de dependencia y de cuidados, provoca en la persona cuidadora un cúmulo de emociones, muchas de ellas encontradas, debido a la situación en la que se encuentra, tanto la persona que cuida como la persona que es cuidada. </p>
    <p> Los sentimientos y las razones más comunes en la vida emocional de la persona que cuida, son los siguientes:</p>
    <p> <b>Culpa: </b> Por no poder satisfacer las necesidades al cien por ciento de la persona que cuida; ya sea por falta de tiempo, recursos económicos, conocimientos o de ayuda adicional para poder atenderle de manera digna. La culpa también puede ser el resultado de malos tratos; cuando la persona que cuida esta desgastada, habitualmente se siente irritada o se enoja con facilidad, y puede responder a las demandas de la persona que cuida de manera no adecuada. Estos eventos pueden posteriormente provocar mucha culpa. </p>
    <p> <b>Miedo: </b> Este sentimiento es muy común, sobre todo cuando la enfermedad progresa de manera acelerada y los estragos de la misma son cada vez más evidentes. Surge al no saber qué hacer, por desconocimiento de lo que pudiera pasarle a la persona que cuida, a que empeore e incluso a que muera. Una de las razones por las cuales las personas que cuidan suelen tener miedo, es pensar qué va a ser de ellos cuando la persona que cuidan ya no esté en el plano físico. </p>
    <p> <b>Vergüenza: </b> Este sentimiento aparece cuando no es posible mejorar las condiciones de vida de la persona que se cuida, o bien porque algunos de los comportamientos de ésta no son habituales, no son comunes al resto de las personas y, aunque saben que es algo que no hacen con la intención de ponerlos en evidencia, muy en el fondo se avergüenzan por el comportamiento o las cosas que hacen cuando están frente extraños. </p>
    <p> <b>Enojo: </b> Este sentimiento quizás sea el más frecuente de todos, sobre todo cuando los cuidados se han prolongado durante un largo tiempo. El enojo es el resultado de la frustración, del cansancio, de la desesperación, por no poder ayudar más a la persona que se cuida, por no poder dar más de lo que se es, se hace o se tiene. Con mucha regularidad el enojo es la máscara de la tristeza, y es la antesala o último escalón para llegar a periodos depresivos. </p>
    <p> <b>Compasión: </b> Este sentimiento es el más noble y bello de todos los estados emocionales que vive la persona que cuida. Se caracteriza por manifestaciones de empatía al entender la situación en la que se encuentra el otro, escucha amorosamente a la persona que cuida, aunque algunas veces lo que escuche no tenga sentido o bien agreda su integridad, presencia plena, que significa querer y aprender a estar con el otro, ya sea para atender, acompañar o satisfacer las necesidades más básicas. </p>
    <p> Sin embargo, aunque es uno de los sentimientos más nobles y amorosos, también es el más frágil de todos. Su permanencia en las actividades y acto de cuidar depende de la capacidad de la persona que cuida de mantenerse emocionalmente sana y de proveerse de las herramientas necesarias para mantenerse así.</p>
    <p> Algunas de las herramientas de las cuales puede echar mano la persona que cuida, se enlistan a continuación. </p>
    <ul>
      <li> Buscar ayuda. La mayoría de las veces la razón por la que la carga el cuidador es demasiada, es porque no recibe ayuda. </li>
      <li> Encontrar momentos para el descanso, para relajarse y aprender a delegar responsabilidades. En ocasiones los cuidadores no pueden imaginarse alejados de la persona a la que cuidan, ni siquiera por algunas horas a la semana, pues piensan que sólo ella puede cuidar de manera adecuada. Estas ideas no le permiten libremente tomarse tiempos de descanso e impiden que otros participen en el cuidado. </li>
      <li> Buscar espacios en los cuales pueda hablar libremente y sin miedo a ser juzgada por lo que le pasa como persona que cuida, de las emociones que vive día a día, de lo que piensa, de los momentos tensos, también de las satisfacciones y recompensas que le genera el cuidado de otro.  </li>
    </ul>

    <p>Los espacios más adecuados para favorecer la expresión de emociones y afectos que viven constantemente las personas que cuidan, son los grupos de ayuda mutua. Estos grupos están formados por otras personas que también son cuidadoras, y que viven situaciones muy similares, especialmente en el aspecto emocional. </p>
    <p>Los grupos de ayuda mutua proporcionan la oportunidad de: </p>
    <ul>
      <li> Escuchar historias y vivencias de otras personas que cuidan. </li>
      <li> Darse cuenta que las vivencias, problemáticas, satisfacciones y recompensas son muy similares a las de otras personas que cuidan. </li>
      <li> Reconocer que el acto de cuidar a una persona con fragilidad o con algún tipo de demencias, no es una actividad fácil y que es normal sentirse como se sienten. </li>
      <li> Compartir con los otros sus experiencias, sin temor a ser juzgados por lo que piensan, sienten o hacen. </li>
      <li> Sentirse apoyados, reconocidos y valorados por la labor de cuidados que realizan; su actividad cobra valor en la medida en que se dan cuenta de que muchas personas más también lo consideran importante. </li>
      <li> Reducir la culpa que se siente, cuando se dan cuenta de que no son los únicos que quieren tirar la toalla o abandonar el barco cuando se está demasiado cansado y abrumado, por cuidar de otro durante mucho tiempo. </li>
      <li> Aprender de las personas que llevan mayor tiempo realizando la actividad de cuidar. Los de mayor tiempo en el grupo comparten experiencias de las cuales el resto de los participantes puede aprender. </li>
    </ul>
    <p>De manera general, poder integrarse y participar en un grupo de ayuda mutua para personas cuidadoras de personas frágiles o con algún tipo de demencia, representa la posibilidad de mantenerse emocionalmente saludable y así poder mantener una relación sana, amorosa y constructiva con la persona a la que se cuida </p>
  </scroller>
  <div id="mainImage">
    <img src="img/6 sol.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    6. CUIDADOS DEL CUIDADOR
  </div>
</footer>
