<div class="spacer">

</div>

<div class="content">
  <scroller>
    <h1>RECOMENDACIONES Y SUGERENCIAS</h1>
    <h2 id="cronograma">1. Cronograma semanal </h2>
    <sound src="Audio 8.1"></sound>
    <p>A continuación presentamos un ejemplo para la elaboración de un cronograma de actividades semanal (sólo de lunes a viernes, entendiendo que los fines de semana deben ser planeados por otros familiares). Es importante que los cuidadores consideren la situación, necesidades, características, gustos, preferencias y hábitos de la persona a quien cuidan. Algunos cuidadores podrán aprovechar tiempos en que la persona se encuentre realizando de manera independiente alguna actividad, para descansar, atender sus asuntos, ejercitarse, relajarse o acudir a un grupo de ayuda mutua. En la medida de lo posible, el cuidado deberá ser responsabilidad de dos o más personas, pues al ser una actividad que demanda todo el día y a veces la noche, se corre el riesgo de presentar sobrecarga, situaciones de estrés, enfermedad, maltrato o negligencia.</p>
    <table class="cronograma">
      <tr>
        <td rowspan="2" class="bold">Horario</td>
        <th colspan="5" class="bold">Actividades</th>
      </tr>
      <tr>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miércoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
      </tr>
      <tr>
        <td class="bold">7: 00 a 8:00 hrs.</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
      </tr>
      <tr class="bold">
        <td class="bold" rowspan="2">8: 00 a 10:00 hrs.</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
      </tr>
      <tr>
        <td>Cambio de ropa de cama</td>
        <td></td>
        <td>Cambio de ropa de cama</td>
        <td></td>
        <td>Cambio de ropa de cama</td>
      </tr>
      <tr class="bold">
        <td class="bold" rowspan="2">10: 00 a 11:00 hrs.</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
      </tr>
      <tr>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
      </tr>
      <tr class="bold">
        <td class="bold">11: 00 a 12:00 hrs.</td>
         <td>
           <p>Actividad recreativa (lenguaje):</p>
           <p>Leer el periódico / cantar / jugar adivinanzas / recordar temas específicos.</p>
         </td>
         <td>
           <p>Actividad recreativa (vista):</p>
           <p>Mirar videos entretenidos / ver fotografías familiares / mostrar libros o revistas de fotos.</p>
         </td>
         <td>
           <p>Actividad recreativa (movimiento):</p>
           <p>Bailar / barrer / organizar objetos / hacer crucigramas / dibujar / cuidar animales / jugar con niños / fabricar o arreglar objetos.</p>
         </td>
         <td>
           <p>Actividad recreativa (estímulos):</p>
           <p>Cepillar o peinar el cabello / escribir un diario / hacer manicura o maquillarse / reconocer especias por su olor / escuchar música / dar masaje.</p>
         </td>
         <td>
           <p>Actividad recreativa:</p>
           <p>Elija el tipo de actividad que desee reforzar.</p>
         </td>
      </tr>
      <tr>
        <td class="bold">12: 00 a 13:00 hrs.</td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Barrer/sacudir.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Regar las plantas/dar de comer a los animales.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Limpiar las mesas / sacudir objetos.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Doblar ropa/acomodar despensa.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Ir de compras y elegir objetos.</p>
        </td>
      </tr>
      <tr class="bold">
        <td class="bold">13: 00 a 14:00 hrs.</td>
        <td>
          <p>Conversación:</p>
          <p>Situación actual</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Temas espirituales</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Recuerdos familiares</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Temas espirituales</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Planes reales o imaginados</p>
        </td>
      </tr>
      <tr>
        <td class="bold">14: 00 a 15:00 hrs</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
      </tr>
      <tr class="bold">
        <td class="bold">15: 00 a 16:00 hrs.</td>
        <td>
          <p>Actividad recreativa (estímulos):</p>
          <p>Cepillar o peinar el cabello / escribir un diario/hacer manicura / maquillarse / reconocer especias por su olor / escuchar música / dar masaje.</p>
        </td>
        <td>
          <p>Actividad recreativa (lenguaje):</p>
          <p> Leer el periódico / cantar / jugar adivinanzas / recordar temas específicos. </p>
        </td>
        <td>
          <p>Actividad recreativa (vista):</p>
          <p> Mirar videos entretenidos / ver fotografías familiares / mostrar libros o revistas de fotos. </p>
        </td>
        <td>
          <p>Actividad recreativa (movimiento):</p>
          <p> Bailar / barrer / organizar objetos / hacer crucigramas / dibujar / cuidar animales / jugar con niños / fabricar o arreglar objetos. </p>
        </td>
        <td>
          <p>Actividad recreativa</p>
          <p> Elija el tipo de actividad que desee reforzar. </p>
        </td>
      </tr>
      <tr>
        <td class="bold">16:00 a 17:00 hrs</td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (parque)</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Recibir visita</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (calles)</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Realizar visita</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (iglesia o templo)</p>
        </td>
      </tr>
      <tr class="bold">
        <td class="bold">17: 00 a 18:00 hrs.</td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Avances tecnológicos</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Deportes / películas / telenovelas</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Sobre temas en los que se hayan especializado (reparación de objetos, de alimentos, entre otras).</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Retrospectiva de vida(infancia, adolescencia, madurez, vejez)</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>La familia (pida que hable sobre sus padres, hermanos, hijos, parejas).</p>
        </td>
      </tr>
      <tr>
        <td class="bold">18: 00 a 19:00 hrs.</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
      </tr>
      <tr class="bold">
        <td class="bold">19: 00 a 20:00 hrs.</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
      </tr>
      <tr class="bold">
        <td class="bold">20: 00 a 21:00 hrs.</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
      </tr>
    </table>
    <h2 id="encasode">2. ¿Qué debo hacer en caso de…?</h2>
    <sound src="Audio 8.2"></sound>
    <p>Los cuidadores enfrentan situaciones críticas que requieren un manejo especial. A continuación te presentamos algunas sugerencias y acciones concretas que puedes llevar a cabo cuando la persona que cuidas entra en crisis.</p>
    <ul class="numbered linker">
      <li> <linker href="#que1" > ¿Qué debes tener presente cuando cuidas a una persona con demencia o fragilidad?  </linker> </li>
      <li> <linker href="#que2" > ¿Qué podemos hacer para mejorar la comunicación con la  persona que cuidamos?  </linker> </li>
      <li> <linker href="#que3" > ¿Qué podemos hacer si la persona a la que cuidamos tiene un delirio?  </linker> </li>
      <li> <linker href="#que4" > ¿Qué podemos hacer si la persona a la que cuidamos, empieza a seguirnos excesivamente?  </linker> </li>
      <li> <linker href="#que5" > ¿Qué podemos hacer si la persona a la que cuidamos tiene alucinaciones?  </linker> </li>
      <li> <linker href="#que6" > ¿Qué podemos hacer si la persona a la que cuidamos tiene un estado anímico deprimido?  </linker> </li>
      <li> <linker href="#que7" > ¿Qué podemos hacer si la persona a la que cuidamos nos acusa de robo?  </linker> </li>
      <li> <linker href="#que8" > ¿Qué podemos hacer si la persona a la que cuidamos tiene problemas de sueño?  </linker> </li>
      <li> <linker href="#que9" > ¿Qué podemos hacer si la persona a la que cuidamos empieza a caminar de un lado a otro sin algún objetivo?  </linker> </li>
      <li> <linker href="#que10" > ¿Qué podemos hacer si la persona a la que cuidamos empieza a confundirnos?  </linker> </li>
      <li> <linker href="#que11" > ¿Qué podemos hacer si la persona a la que cuidamos empieza a tener comportamientos sexuales desinhibidos?  </linker> </li>
      <li> <linker href="#que12" > ¿Qué podemos hacer si la persona a la que cuidamos tiene un comportamiento agresivo?  </linker> </li>
      <li> <linker href="#que13" > ¿Qué podemos hacer si la persona a la que cuidamos no quiere tomarse los medicamentos?  </linker> </li>
    </ul>

    <div id="que1">
      <sound src="Audio 8.3"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué debes tener presente cuando cuidas a una persona con demencia o fragilidad? </td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Es una persona única y no siempre reaccionará de la misma manera o igual que otros. </li>
              <li> En la medida de sus posibilidades, la persona que cuidas todavía puede tomar decisiones sobre algunos aspectos de su vida y debe ser respetada y tomada en cuenta. </li>
              <li> Trata de ser flexible y empático. Intenta comprender las situaciones que vive. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que2">
      <sound src="Audio 8.4"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer para mejorar la comunicación con la  persona que cuidamos?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Acércate lentamente y de frente hacia la persona que cuidas. </li>
              <li> Utiliza siempre un lenguaje sencillo, cotidiano y comprensible. </li>
              <li> Usa frases breves y concretas. </li>
              <li> Habla despacio y usa un tono de voz adecuado. Este debe ser fuerte  claro, pero sin llegar a gritar. </li>
              <li> Evita distractores e interferencias ambientales cuando quieras comunicar algo. </li>
              <li> Motiva a la persona para que se exprese. Muestra interés en lo que te dice y ayúdala a que pueda compartir sus pensamientos y sentimientos. </li>
              <li> No opines por la persona que cuidas. </li>
              <li> Nunca hables de la persona que cuidas como si no estuviera presente. </li>
              <li> No infantilices a la persona y trátala siempre con dignidad y respeto. Recuerda que infantilizar es considerada una forma de violencia. </li>
              <li> Usa la comunicación no verbal y observa los gestos y los movimientos del cuerpo. Muchas veces nos dicen más que las palabras.  </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que3">
      <sound src="Audio 8.5"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos tiene un delirio?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <p>Recuerda que la persona puede confundirse, experimentar angustia, desorden en las ideas o alucinaciones.  Ante esta situación:</p>
              <li> Mantén la calma y la tranquilidad.  </li>
              <li> Si la persona te hace comentarios o actúa de manera agresiva, no te ofendas ni lo tomes personal. </li>
              <li> Evita discutir con la persona.  </li>
              <li> Busca estrategias para distraer a la persona para que centre su atención en otra actividad. Muéstrale un libro de fotos, pon música tranquila o invítale a hacer algo que sabes que es de su interés. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que4">
      <sound src="Audio 8.6"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos, empieza a seguirnos excesivamente?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Recuerda que la persona actúa de esta manera porque se siente segura junto a ti o quizá porque se encuentra en un estado de confusión y tiene miedo de ser abandonada. </li>
              <li> Trata de identificar en qué horarios, cuáles situaciones o qué estímulos provocan o intensifican esta conducta.  </li>
              <li> Intenta realizar alguna actividad del agrado de la persona, que le permita centrar la atención y superar la ansiedad en ese momento.  </li>
              <li> Pide ayuda a otra persona para que tú puedas tener un momento de respiro y descanso. Sabemos que estos episodios suelen ser muy agotadores para ti.  </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que5">
      <sound src="Audio 8.7"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos tiene alucinaciones?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Conserva la calma. </li>
              <li> Evita discutir con la persona. Por ejemplo, si tiene una alucinación visual o auditiva, no trates de convencerla de que está hablando sola. </li>
              <li> Recuerda que no debemos negar las alucinaciones, pero tampoco reforzarlas.  </li>
              <li> Puedes distraer a la persona, llevándola hacia otro espacio de la casa o proporcionándole un estímulo para que realice otras actividades. </li>
              <li> Observa e identifica posibles causas que provoquen o estimulen las alucinaciones.  Por ejemplo, observa la hora, la iluminación, la ventilación, los sonidos o personas que están presentes cuando ocurren.  </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que6">
      <sound src="Audio 8.8"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos tiene un estado anímico deprimido?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Muestra disposición para apoyar y escuchar a la persona, tratando de que se sienta querida, comprendida y arropada. </li>
              <li> Intenta incluir en la rutina actividades nuevas y sencillas que puedan mejorar su autoestima.  </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que7">
      <sound src="Audio 8.9"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos nos acusa de robo?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Conserva la calma y no te molestes. </li>
              <li> Evita preguntar dónde colocó el objeto perdido. </li>
              <li> No lo culpes.  </li>
              <li> Explícale que se buscará exhaustivamente el objeto u objetos faltantes. </li>
              <li> Para prevenir esta problemática, trata de reducir el número de lugares donde pueda esconder objetos. </li>
              <li> Evita tener a la vista objetos de mucho valor o que sean frágiles y puedan romperse o extraviarse con facilidad. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que8">
      <sound src="Audio 8.10"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos tiene problemas de sueño?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Crea rutinas para acostarse y levantarse; eso proporciona orientación. </li>
              <li> Procura que la persona tenga varias actividades durante el día. </li>
              <li> En la medida de las posibilidades de la persona, incluye en sus rutinas diarias actividad y ejercicio físico. </li>
              <li> Evita las siestas prolongadas durante el día. </li>
              <li> Recuerda que la cena debe ser ligera.  </li>
              <li> Evita que la persona que cuidas consuma bebidas con cafeína. </li>
              <li> Evita que la persona que cuidas consuma demasiados líquidos durante la noche; así, procuraremos no despertarla.  </li>
              <li> Toma en cuenta todas las medidas de higiene del sueño. </li>
              <li> Si el problema persiste, coméntalo con el médico tratante. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que9">
      <sound src="Audio 8.11"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos empieza a caminar de un lado a otro sin algún objetivo?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <p>Esto ocurre por distintas razones. Por ejemplo, cuando se agudizan sus problemas de memoria, tiene ansiedad, está desorientada o presenta necesidades básicas que no puede comprender (ganas de ir al baño, hambre, sed o dolor), cuando siente aburrimiento, agitación, incomodidad o miedo. En estos casos:</p>
                <li> Permite que la persona camine, siempre y cuando no ponga en riesgo su integridad.</li>
                <li> Despeja lentamente el espacio por donde la persona pasa, para evitar un accidente.</li>
                <li> Cierra discretamente las puertas para evitar que la persona salga de casa.</li>
                <li> Puedes distraer a la persona, llevándola hacia otro espacio de la casa o proporcionándole un estímulo para que realice otras actividades.</li>
                <li> Trata de orientarla. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que10">
      <sound src="Audio 8.12"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos empieza a confundirnos?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <p>Recuerda que hay situaciones que pueden generar sorpresa o confusión en las personas con alguna demencia. Por ejemplo, observar su imagen en un espejo u objetos con reflejo, las modificaciones en los espacios físicos (una nueva disposición de los muebles), la presencia de personas o familiares, que en algunas ocasiones puede no reconocer, o los estímulos como el radio o el televisor. En este caso:</p>
              <li> Conserva la calma.  </li>
              <li> Trata de identificar qué es lo que origina la agresividad. Podría tratarse de dolor, cansancio, efectos secundarios de algún fármaco, ansiedad o delirio. </li>
              <li> Nunca respondas con agresividad ni uses la fuerza física. </li>
              <li> Intenta hablar con la persona tranquilamente. No grites. Utiliza un tono de voz suave. </li>
              <li> Emplea recursos como el contacto visual. </li>
              <li> Mantén siempre inaccesibles objetos que puedan ser peligrosos (cuchillos, tijeras, vidrios, herramientas, entre otros). </li>
              <li> Si no logras que la persona que cuidas se calme, abandona la habitación y pide ayuda. Recuerda tener siempre a la mano números telefónicos de familiares o amigos que puedan auxiliarte. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>


    <div id="que11">
      <sound src="Audio 8.13"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos no quiere tomarse los medicamentos?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Conserva la calma.  </li>
              <li> Si sólo se resiste a un medicamento y este se trata de una pastilla, puedes triturarla y disolverla en algún líquido. </li>
              <li> Si son más de dos medicamentos, puedes mezclarlos con alimentos que ayuden a ingerirlos. </li>
              <li> Evita las discusiones, ya que sólo causarán tensión y confusión a la persona. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que12">
      <sound src="Audio 8.14"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos tiene un comportamiento agresivo?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Conserva la calma.  </li>
              <li> Trata de identificar qué es lo que origina la agresividad. Podría tratarse de dolor, cansancio, efectos secundarios de algún fármaco, ansiedad o delirio. </li>
              <li> Nunca respondas con agresividad ni uses la fuerza física. </li>
              <li> Intenta hablar con la persona tranquilamente. No grites. Utiliza un tono de voz suave. </li>
              <li> Emplea recursos como el contacto visual. </li>
              <li> Mantén siempre inaccesibles objetos que puedan ser peligrosos (cuchillos, tijeras, vidrios, herramientas, entre otros). </li>
              <li> Si no logras que la persona que cuidas se calme, abandona la habitación y pide ayuda. Recuerda tener siempre a la mano números telefónicos de familiares o amigos que puedan auxiliarte. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <div id="que13">
      <sound src="Audio 8.15"></sound>
      <table>
        <tr>
          <td class="title center">¿Qué podemos hacer si la persona a la que cuidamos no quiere tomarse los medicamentos?</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li> Conserva la calma. </li>
              <li> Si sólo se resiste a un medicamento y este se trata de una pastilla, puedes triturarla y disolverla en algún líquido.</li>
              <li> Si son más de dos medicamentos, puedes mezclarlos con alimentos que ayuden a ingerirlos.</li>
              <li> Evita las discusiones, ya que sólo causarán tensión y confusión a la persona.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>





    <h2 id="adaptaciones">3. Adaptaciones del entorno</h2>
    <p>Un entorno adecuado puede ayudarte a disminuir riesgos como accidentes, caídas o crisis. Además favorece la independencia de la persona que cuidas y te ayuda a mantener la organización del hogar. Aquí encontrarás algunas sugerencias e ideas para mejorar o adaptar tu entorno.</p>
    <light-box mode="image" trigger="img/presentacion/Presentacion_adaptaciones-01.jpg" >
      <img src="img/presentacion/Presentacion_adaptaciones-02.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-03.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-04.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-05.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-06.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-07.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-08.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-09.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-10.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-11.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-12.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-13.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-14.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-15.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-16.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-17.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-18.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-19.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-20.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-21.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-22.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-23.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-24.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-25.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-26.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-27.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-28.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-29.jpg">
      <img src="img/presentacion/Presentacion_adaptaciones-30.jpg">
    </light-box>


    <h2 id="almohadillas">4. Elaboración de las almohadillas de prevención de úlceras. </h2>
    <p>En los adultos mayores postrados, la movilización es fundamental para evitar la aparición de úlceras por presión o llagas. Durante la movilización es importante proteger específicamente las zonas de presión como hombros, cadera, glúteos y talones. El uso de almohadillas rellenas de bolitas de unicel es fundamental para la movilización, debido a que se adaptan a la parte del cuerpo en que se coloquen. A continuación te mostramos una forma sencilla de elaborarlas.</p>

    <video-view src="Video 9"></video-view>
  </scroller>
  <div id="mainImage">
    <img src="img/7 pajaro.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    7. RECOMENDACIONES Y SUGERENCIAS
  </div>
</footer>
