<div class="spacer">

</div>

<div class="content">
  <div id="mainInfo">
    <h2 id="cronograma">1. Cronograma semanal </h2>
    <p>A continuación presentamos un ejemplo para la elaboración de un cronograma de actividades semanal (sólo de lunes a viernes, entendiendo que los fines de semana deben ser planeados por otros familiares). Es importante que los cuidadores consideren la situación, necesidades, características, gustos, preferencias y hábitos de la persona a quien cuidan. Algunos cuidadores podrán aprovechar tiempos en que la persona se encuentre realizando de manera independiente alguna actividad, para descansar, atender sus asuntos, ejercitarse, relajarse o acudir a un grupo de ayuda mutua. En la medida de lo posible, el cuidado deberá ser responsabilidad de dos o más personas, pues al ser una actividad que demanda todo el día y a veces la noche, se corre el riesgo de presentar sobrecarga, situaciones de estrés, enfermedad, maltrato o negligencia.</p>
    <table class="cronograma">
      <tr>
        <td rowspan="2" class="bold">Horario</td>
        <th colspan="5" class="bold">Actividades</th>
      </tr>
      <tr>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miércoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
      </tr>
      <tr>
        <td class="bold">7: 00 a 8:00 hrs.</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
        <td>Desayuno</td>
      </tr>
      <tr class="bold">
        <td class="bold" rowspan="2">8: 00 a 10:00 hrs.</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
        <td>Actividades de higiene personal (supervisadas o asistidas)</td>
      </tr>
      <tr>
        <td>Cambio de ropa de cama</td>
        <td></td>
        <td>Cambio de ropa de cama</td>
        <td></td>
        <td>Cambio de ropa de cama</td>
      </tr>
      <tr class="bold">
        <td class="bold" rowspan="2">10: 00 a 11:00 hrs.</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
        <td>Colación Ejercicio activo/pasivo</td>
      </tr>
      <tr>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
        <td>Ejercios para el cuidador</td>
      </tr>
      <tr class="bold">
        <td class="bold">11: 00 a 12:00 hrs.</td>
         <td>
           <p>Actividad recreativa(lenguaje):</p>
           <p>Leer el periódico / cantar / jugar adivinanzas / recordar temas específicos.</p>
         </td>
         <td>
           <p>Actividad recreativa (vista):</p>
           <p>Mirar videos entretenidos / ver fotografías familiares / mostrar libros o revistas de fotos.</p>
         </td>
         <td>
           <p>Actividad recreativa(movimiento):</p>
           <p>Bailar / barrer / organizar objetos / hacer crucigramas / dibujar / cuidar animales / jugar con niños / fabricar o arreglar objetos.</p>
         </td>
         <td>
           <p>Actividad recreativa(estímulos):</p>
           <p>Cepillar o peinar el cabello / escribir un diario / hacer manicura o maquillarse / reconocer especias por su olor/escuchar música / dar masaje.</p>
         </td>
         <td>
           <p>Actividad recreativa:</p>
           <p>Elija el tipo de actividad que desee reforzar.</p>
         </td>
      </tr>
      <tr>
        <td class="bold">12: 00 a 13:00 hrs.</td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Barrer/sacudir.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Regar las plantas/dar de comer a los animales.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Limpiar las mesas/sacudir objetos.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Doblar ropa/acomodar despensa.</p>
        </td>
        <td>
          <p>Labores del hogar. Pida colaboración de la persona para:</p>
          <p>Ir de compras y elegir objetos.</p>
        </td>
      </tr>
      <tr class="bold">
        <td class="bold">13: 00 a 14:00 hrs.</td>
        <td>
          <p>Conversación:</p>
          <p>Situación actual</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Temas espirituales</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Recuerdos familiares</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Temas espirituales</p>
        </td>
        <td>
          <p>Conversación:</p>
          <p>Planes reales o imaginados</p>
        </td>
      </tr>
      <tr>
        <td class="bold">14: 00 a 15:00 hrs</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
        <td>Comida</td>
      </tr>
      <tr class="bold">
        <td class="bold">15: 00 a 16:00 hrs.</td>
        <td>
          <p>Actividad recreativa (estímulos):</p>
          <p>Cepillar o peinar el cabello / escribir un diario/hacer manicura / maquillarse / reconocer especias por su olor / escuchar música / dar masaje.</p>
        </td>
        <td>
          <p>Actividad recreativa (lenguaje):</p>
          <p> Leer el periódico / cantar / jugar adivinanzas / recordar temas específicos. </p>
        </td>
        <td>
          <p>Actividad recreativa (vista):</p>
          <p> Mirar videos entretenidos / ver fotografías familiares / mostrar libros o revistas de fotos. </p>
        </td>
        <td>
          <p>Actividad recreativa (movimiento):</p>
          <p> Bailar / barrer / organizar objetos / hacer crucigramas / dibujar / cuidar animales / jugar con niños / fabricar o arreglar objetos. </p>
        </td>
        <td>
          <p>Actividad recreativa</p>
          <p> Elija el tipo de actividad que desee reforzar. </p>
        </td>
      </tr>
      <tr>
        <td class="bold">16:00 a 17:00 hrs</td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (parque)</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Recibir visita</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (calles)</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Realizar visita</p>
        </td>
        <td>
          <p>Actividad de socialización:</p>
          <p>Paseo (iglesia o templo)</p>
        </td>
      </tr>
      <tr class="bold">
        <td class="bold">17: 00 a 18:00 hrs.</td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Avances tecnológicos</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Deportes / películas / telenovelas</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Sobre temas en los que se hayan especializado(reparación de objetos, de alimentos, entre otras).</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>Retrospectiva de vida(infancia, adolescencia, madurez, vejez)</p>
        </td>
        <td>
          <p>Colación</p>
          <p>Conversación:</p>
          <p>La familia (pida que hable sobre sus padres, hermanos, hijos, parejas).</p>
        </td>
      </tr>
      <tr>
        <td class="bold">18: 00 a 19:00 hrs.</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
        <td>Ejercicio activo / pasivo</td>
      </tr>
      <tr class="bold">
        <td class="bold">19: 00 a 20:00 hrs.</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
        <td>Merienda</td>
      </tr>
      <tr class="bold">
        <td class="bold">20: 00 a 21:00 hrs.</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
        <td>Preparación para dormir</td>
      </tr>
    </table>
    <h2 id="encasode">2. ¿Qué debo hacer en caso de…?</h2>
    <h2 id="adaptaciones">3. Adaptaciones del entorno.</h2>
    <p>Un entorno adecuado puede ayudarte a disminuir riesgos como accidentes, caídas o crisis. Además favorece la independencia de la persona que cuidas y te ayuda a mantener la organización del hogar. Aquí encontrarás algunas sugerencias e ideas para mejorar o adaptar tu entorno.</p>
    <ul>
      <li> Señalización para personas con Alzheimer  </li>
      <li> Reforzar la seguridad del hogar  </li>
    </ul>
    <h2 id="almohadillas">4. Elaboración de las almohadillas de prevención de úlceras. </h2>
    <p>En los adultos mayores postrados, la movilización es fundamental para evitar la aparición de úlceras por presión o llagas. Durante la movilización es importante proteger específicamente las zonas de presión como hombros, cadera, glúteos y talones. El uso de almohadillas rellenas de bolitas de unicel es fundamental para la movilización, debido a que se adaptan a la parte del cuerpo en que se coloquen. A continuación te mostramos una forma sencilla de elaborarlas.</p>
  </div>
  <div id="mainImage">
    <img src="img/5 aves.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    7. RECOMENDACIONES Y SUGERENCIAS
  </div>
</footer>
