<div class="spacer">

</div>

<div class="content">
  <scroller>
    <h1>CUIDADOS FÍSICOS</h1>
    <h2 id="generalesyespecificos">Cuidados generales y específicos</h2>
    <sound src="Audio_40"></sound>
    <p>En esta sección se presentan los conocimientos sobre los cuidados generales y específicos del anciano enfermo en el hogar, con el fin de contribuir en el tratamiento y evitar en lo posible el ingreso, reingreso o estancias prolongadas en hospitales.</p>
    <p> Revisa estos videos cuantas veces sea necesario, para que logres llevar a cabo cada uno de los procedimientos de la mejor manera.</p>

    <h2 id="generales">Cuidados generales</h2>
    <h3>1. Medición de signos vitales </h3>
    <sound src="Audio_41"></sound>
    <p>Los signos vitales son las manifestaciones físicas del individuo, que nos indican la estabilidad (normalidad) o alteración de las funciones vitales. Son señales de vida e indicadores del estado de salud. Estos son: el pulso, la respiración, la presión arterial y la temperatura.</p>
    <p>Los cuidadores deben recordar que una alteración en los signos vitales puede indicar peligro, por lo que es importante llevar un registro de los mismos en una libreta para poder identificar problemas.</p>
    <video-view src="VIDEO 4.1 Medicion y registro"></video-view>

    <h3>2. Baño en cama </h3>
    <sound src="Audio_42"></sound>
    <p>El baño en cama es muy importante para los enfermos que se encuentran en reposo absoluto, pues además de ser la principal medida de higiene, representa un momento de relajación y estímulo para el paciente. Proporciona bienestar, descanso, favorece el sueño y estimula la circulación por medio de masaje y movimiento.</p>
    <video-view src="VIDEO 4.2 Bano en cama"></video-view>

    <h3>3. Higiene de la boca </h3>
    <sound src="Audio_43"></sound>
    <p>El cuidado y la higiene de la boca requieren especial atención para el anciano frágil, encamado o incapacitado. La higiene de la boca permite retirar secreciones como moco y flemas que se producen y se adhieren a los dientes y lengua, provocando olor desagradable, ulceraciones, grietas e infecciones.</p>
    <video-view src="VIDEO 3 Higiene de la boca"></video-view>

    <h3>4. Movilización en la cama y prevención de úlceras por presión </h3>
    <sound src="Audio_44"></sound>
    <p>La movilización es una parte fundamental en los cuidados para las personas  que están en cama por tiempos prolongados; evita que se formen úlceras por presión, deformación de las articulaciones, pérdida de la movilidad y coágulos que pueden ir a pulmón o a cerebro.</p>
    <p>Los cuidadores deben tener en cuenta que el cambio de posición se debe realizar por lo menos cada 2 horas.</p>
    <video-view src="VIDEO 4.4 Movilizacion en la cama"></video-view>

    <h3>5. Ejercicios de rehabilitación activos y pasivos del adulto mayor en cama.</h3>
    <sound src="Audio_45"></sound>
    <p>Cuando la persona en estado de fragilidad permanece por periodos muy largos en la cama, debe ser estimulada para realizar ejercicios que incrementen su resistencia física y fuerza muscular. Esto impactará positivamente su funcionalidad física. Recuerda que es muy importante mantener, prolongar o recuperar la funcionalidad.</p>
    <p>A continuación presentamos un video con ejercicios activos y pasivos. Recuerda que deben realizarse 10 veces cada uno, dos veces al día, considerando un tiempo estimado de 10 a 20 minutos por sesión. </p>
    <video-view src="VIDEO 4.5 Ejercicios de rehabilitacion"></video-view>

    <h2 id="especificos">Cuidados específicos</h2>
    <sound src="Audio_46"></sound>
    <ul class="numbered linker">
      <li> <linker href="#signos">Signos y síntomas de alarma. </linker> </li>
      <li> <linker href="#curacion">Curación de heridas. </linker> </li>
      <li> <linker href="#cuidado">Cuidado de la incontinencia urinaria. </linker> </li>
      <li> <linker href="#medidas">Medidas para la prevención del estreñimiento. </linker> </li>
      <li> <linker href="#recomendacionesalimentacion">Recomendaciones para la alimentación. </linker> </li>
      <li> <linker href="#recomendaciones">Recomendaciones y precauciones para la administración de medicamentos. </linker> </li>
      <li> <linker href="#cuidadosPies">Cuidado de los pies </linker> </li>
    </ul>

    <h2 id="signos">1. Signos y síntomas de alarma </h2>
    <sound src="Audio_47"></sound>
    <p>Existen algunos signos y síntomas de alarma que nos ponen sobre aviso de que la vida del enfermo está en peligro. Por ello, es importante que quien está al cuidado del enfermo los conozca y detecte de forma eficaz y oportuna, para evitar complicaciones que podrán ser irremediables.</p>
    <p>Cuando los cuidadores identifiquen alguno de los siguientes signos o síntomas, deberán acudir al servicio de salud de manera inmediata:</p>
    <ul class="number">
      <li> Un aumento repentino en la presión arterial, el pulso, la respiración o la temperatura </li>
      <li> Un aumento por arriba de 160mg o abajo de 60mg de la glucosa en la sangre </li>
      <li> Piel fría, pálida y húmeda </li>
      <li> Coloración azul en labios, manos, uñas  o en todo el cuerpo </li>
      <li> Dolor intenso en el pecho </li>
      <li> Dolor intenso o calambres en brazo izquierdo </li>
      <li> Palpitaciones y pulso rápido y débil </li>
      <li> Dificultad para respirar </li>
      <li> Sangrado por nariz, boca,  en orina o excremento </li>
      <li> Vómito continuo </li>
      <li> Vómito con sangre o con aspecto de café molido </li>
      <li> Diarrea continua </li>
      <li> Ganas de vomitar durante períodos prolongados </li>
      <li> Dolor de cabeza frecuente e intenso </li>
      <li> Vista borrosa </li>
      <li> Mareos y sensación de vértigo </li>
      <li> Palabras o frases sin sentido o estado de confusión </li>
      <li> Ver o escuchar cosas que no existen </li>
      <li> Adormecimiento u hormigueo en pies y manos </li>
      <li> Parálisis en alguna parte del cuerpo </li>
      <li> Pérdida del habla </li>
      <li> Ansiedad o angustia </li>
      <li> No despierta o no se mueve </li>
      <li> Presencia de convulsiones (movimientos del cuerpo involuntarios) </li>
      <li> No orinar </li>
      <li> No  evacuar en varios días y sin causa aparente </li>
    </ul>
    <h2 id="curacion">2. Curación de heridas</h2>
    <sound src="Audio_48"></sound>
    <p>El familiar o cuidador puede llevar a cabo la curación de heridas siempre y cuando siga estrictas medidas de limpieza. Es importante que pidas asesoría en la Clínica de Medicina Familiar u hospital si tienes dudas. A continuación te presentamos el protocolo de curación. Recuerda: la higiene debe ser muy estricta. </p>
    <video-view src="VIDEO 4.6 Curacion de heridas"></video-view>


    <h2 id="ciudado">3. Cuidado de la incontinencia urinaria</h2>
    <sound src="Audio_49"></sound>
    <p>La incontinencia urinaria es la salida involuntaria de orina, sin considerar la cantidad, frecuencia o severidad. Provoca que los genitales externos se mantengan húmedos y expuestos al efecto irritativo de la orina durante mucho tiempo. Esto puede producir problemas dermatológicos (en la piel) y riesgo de infecciones urinarias, además de constituir un problema higiénico-social.</p>
    <p>A continuación señalamos una serie de recomendaciones que los cuidadores pueden tomar en cuenta para atender esta condición.</p>
    <ul class="numbered">
      <li> Establece un horario para orinar; puede ser cada dos horas.   </li>
      <li> Estimula al enfermo ofreciéndole el cómodo o recipiente para orinar o acompáñelo al baño. Para estimularlo, recomendamos pedirle al paciente que meta la mano en un recipiente con agua tibia. También es útil abrir una llave para que escuche correr el agua. </li>
      <li> Dale su tiempo. </li>
      <li> Identifica en qué momento el anciano tiene mayor predisposición a la pérdida involuntaria de orina. </li>
      <li> Para evitar accidentes, es recomendable acompañarlo a orinar antes de cada comida y antes de dormir. Es importante evitar que el anciano tome líquidos dos horas  antes de acostarse. </li>
      <li> En caso de que pueda ir al baño de manera independiente, asegúrate de la correcta iluminación del baño. Trata de estar al pendiente para evitar una caída.  </li>
      <li> Si el anciano toma medicamentos para orinar (diuréticos), procura que los tome  por la mañana y controle la cantidad de líquidos que tome al día. </li>
      <li> Mantén al anciano siempre seco y limpio. Puede usar pañales desechables absorbentes por la noche. Recuerda que el pañal debe cambiarse con frecuencia. </li>
      <li> Es conveniente lavar a la persona con agua y jabón neutro después de defecar,  y  sólo  lavar con agua tibia después de orinar. De esta manera se previenen ulceraciones o infecciones en la piel. </li>
      <li> Informa al médico tratante sobre el problema. Es necesario saber qué ocasiona la incontinencia. </li>
      <li>
        Se recomienda realizar los siguientes ejercicios para evitar la pérdida involuntaria de la orina:
        <ul class="lettered">
          <li> Pida a la persona que apriete y suelte los músculos de los glúteos (o nalgas) sin aguantar la respiración. Mientras se aprietan los músculos, pídale que imagine que se le escaparán gases. Siga apretando los músculos alrededor del ano con todas sus fuerzas y, finalmente, suelte. Este ejercicio debe repetirse cinco veces de forma lenta y cinco veces de forma rápida, al menos diez veces al día. </li>
          <li> Pida a la persona que imagine que está orinando. Solicite que apriete fuerte como si quisiera detener el chorro de la orina.  Este ejercicio debe repetirse cinco veces de forma lenta y cinco veces de forma rápida, al menos diez veces al día. </li>
        </ul>
      </li>
    </ul>

    <h2 id="medidas">Medidas para la prevención del estreñimiento</h2>
    <sound src="Audio_50"></sound>

    <p>El estreñimiento o dificultad para defecar por la dureza de las heces, es una de las alteraciones más frecuentes que presentan los ancianos frágiles que permanecen en cama en periodos muy largos. Las causas pueden ser la inmovilidad, la ingesta de pocos líquidos o una dieta pobre en fibra.</p>
    <p>A continuación señalamos una serie de recomendaciones que los cuidadores pueden tomar en cuenta para atender esta condición:</p>

    <ul>
      <li> Se debe evitar la inmovilidad. </li>
      <li> Si el médico lo indica, estimula al enfermo para que camine. </li>
      <li> Es importante que la persona evite tomar productos como laxantes para defecar. </li>
      <li> Debe consumir alimentos ricos en fibra tales como ciruela pasa, brócoli, lechuga, espinacas, cereales como avena, pan integral, frutas secas, lentejas, nopales. </li>
      <li> Consulta con el médico cuánta agua puedes ofrecer durante el día a la persona que cuidas. </li>
      <li>  Recuerda que las harinas como pastas, pan, tortillas y las grasas favorecen el estreñimiento. </li>
      <li> Recuerda al anciano que debe ir al baño en cuanto tenga deseos de defecar. </li>
      <li> Proporciona ayuda para que pueda trasladarse y, si así lo prefiere, déjalo solo en ese momento; sólo permanece cerca por si necesita ayuda. </li>
      <li> Si no es posible que pueda ir al baño, proporciona el cómodo y déjalo solo. </li>
      <li> Si el estreñimiento persiste, debes informar al médico inmediatamente. </li>
    </ul>

    <video-view src="Video 4.7 Ejercicios para prevenir"></video-view>


    <h2 id="recomendacionesalimentacion">5. Recomendaciones para la alimentación </h2>
    <sound src="Audio_51"></sound>
    <p>Una de las manifestaciones de la fragilidad es la falta de apetito, por lo que es importante poner especial atención en la alimentación. Debemos considerar que una mala alimentación puede propiciar un estado de desnutrición, lo que empeoraría su estado de salud y podría conducir a otras complicaciones.</p>
    <p>A continuación señalamos una serie de recomendaciones que los cuidadores deben considerar para evitar problemas nutricionales:</p>
    <ul class="numbered">
      <li> Tome en cuenta la dieta indicada por el médico y nutriólogo tratante.</li>
      <li> Elige alimentos con alto contenido en vitaminas, proteínas y minerales.</li>
      <li> Considera los gustos y preferencias  de la persona que cuidas.</li>
      <li> Incluye diariamente en la dieta los siguientes alimentos, si están dentro de las posibilidades económicas: un mínimo de dos recipientes pequeños de frutas y verduras ricas en antioxidantes y vitaminas.</li>
      <li> Selecciona alimentos que contengan fibra para prevenir el estreñimiento como papaya, ciruela pasa, naranja en gajos; verduras como brócoli, lechugas, espinacas y nopales  cocidos o asados; avena y salvado.</li>
      <li> Elimina de la dieta el consumo de manteca de cerdo, mantequilla y cualquier otra grasa sólida de origen animal.</li>
      <li> Establece horarios para las comidas, tratando de que sean cinco (desayuno, almuerzo, comida, merienda y cena). Es importante que se caractericen por contener poca cantidad, pero mucha variedad.</li>
      <li> Evita ayunos prolongados.</li>
      <li> Los alimentos deben tener presentación agradable.</li>
      <li> Siempre verifica que la temperatura sea adecuada.</li>
      <li> Evita que el enfermo coma solo. Recuerda que comer es una actividad que a todos nos gusta compartir.</li>
      <li> Recuerda que sólo debes ayudarlo a comer si es necesario. </li>
      <li> Coman juntos y traten de que el ambiente sea agradable. </li>
      <li> Evita que la persona consuma papillas. Cuando éstas no están indicadas por el médico, pueden contribuir al deterioro de la función de los músculos para masticar. Es mejor ofrecer alimentos blandos.</li>
      <li> Dale el tiempo necesario para comer.</li>
      <li> Recuerda ayudarle a lavarse las manos antes de cada comida.</li>
      <li> Procura que la persona que cuidas mantenga una correcta higiene bucodental. </li>
    </ul>




    <h2 id="recomendaciones">6. Recomendaciones y precauciones para la administración de medicamentos </h2>
    <sound src="Audio_52"></sound>
    <p>La administración de medicamentos es uno de los cuidados fundamentales para la recuperación y control del anciano frágil en el hogar. Por tal motivo, el familiar o cuidador no debe tener duda sobre las dosis, horarios, posibles efectos y combinación de medicamentos.</p>

    <p> <b>Recomendaciones:</b> </p>
    <ul class="numbered">
      <li> Los medicamentos siempre deben tomarse bajo indicación del médico tratante.</li>
      <li> Ten clara la vía de administración y dosis del medicamento. Revisa la receta cuantas veces sea necesario. Si tienes duda, consulta al médico.</li>
      <li> Revisa siempre la fecha de caducidad del medicamento (que no esté vencido). </li>
      <li> No administres medicamentos con el estómago vacío, pues se puede ocasionar irritación en el estómago.</li>
      <li> Los medicamentos nunca deben suspenderse por cuenta propia.</li>
      <li> No combines varios medicamentos en una sola toma, podrían interactuar y alterar su efecto.</li>
      <li> Si la persona frágil tiene problemas para pasar los alimentos, puedes moler las tabletas. Recuerda que en el caso de las cápsulas NUNCA se debe quitar la capa de plástico porque puede irritar la mucosa del estómago o perder su efecto.</li>
      <li> No administres medicamentos por más del tiempo indicado, ya que puede producir efectos tóxicos que causan daño al organismo.</li>
      <li> Nunca se deben administrar medicamentos, tés, complementos o sustancias recomendadas por familiares, vecinos o amigos, ya que podrían causar daño al organismo.</li>
      <li> Vigila las reacciones a los medicamentos. Si observas algún dato raro que pueda indicar que el medicamento está provocando algún daño, avisa inmediatamente al médico.</li>
      <li> Evita el consumo de bebidas alcohólicas o irritantes, así como alimentos grasosos.</li>
      <li> Evita administrar remedios caseros, a menos de que el médico tratante los apruebe.</li>
      <li> Cuando existen problemas mentales, es importante mantener los medicamentos fuera del alcance de la persona frágil.</li>
      <li> Mantén los medicamentos en un lugar fresco y seco.</li>
      <li> Conserva siempre las recetas y frascos originales de los medicamentos, para evitar equivocaciones.</li>
      <li> Conserva las recetas anteriores y muéstralas al médico en la próxima visita.</li>
    </ul>
    <h2 id="cuidadosPies">7. Cuidado de los pies </h2>
    <sound src="Audio_53"></sound>

    <p>El pie diabético es una complicación que pueden presentar las personas con diabetes mellitus. Se caracteriza por una disminución parcial o total de la circulación sanguínea de la parte distal del pie, generalmente en los dedos, asociada a una infección local, cuyo tratamiento es la amputación (corte parcial o total del pie). Por tal motivo, es fundamental establecer medidas para evitar esta complicación.</p>
    <p>La fragilidad viene acompañada de enfermedades crónicas no controladas. En este sentido, los cuidadores deben poner especial atención en el cuidado de los pies del anciano frágil cuando se sabe de la existencia de diabetes.</p>
    <video-view src="VIDEO 4.8 Cuidados de los pies"></video-view>

  </scroller>
  <div id="mainImage">
    <img src="img/4 puerta.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    4. CUIDADOS FÍSICOS
  </div>
</footer>
