<div class="spacer">

</div>

<div class="content">
  <div id="mainInfo">
    <h2>¿Qué es la demencia?</h2>
    <p>
      Cuando un familiar es diagnosticado con demencia, en general, tanto la persona como la familia experimenta una sensación de incertidumbre, temor e inclusive negación. Una estrategia que nos permite aceptar la enfermedad y comenzar a actuar para mejorar la calidad de vida de quien la padece, es contar con información sencilla  y confiable.
    </p>
    <p>
      Aproximadamente 80% de los adultos mayores con demencia son tratados en sus hogares por sus familiares o cuidadores, quienes con frecuencia no cuentan con conocimientos básicos sobre las medidas adecuadas para la atención del padecimiento.
    </p>
    <p>
      Como cuidador o cuidadora debes saber que:
    </p>
    <ul>
      <li>
        La demencia es un trastorno progresivo que deteriora funciones cognitivas: lenguaje (capacidad de comunicarse), memoria (capacidad de almacenar información), cálculo (capacidad de razonar y realizar operaciones aritméticas y matemáticas), atención (capacidad de dirigir nuestros sentidos de manera razonada), praxias (capacidad de realizar movimientos coordinados y planeados) y gnosias (capacidad de reconocer objetos, personas, lugares, palabras, olores, sabores, etc.).
      </li>
      <li>
        En las demencias se pierden gradualmente las funciones cerebrales superiores, limitando la vida biológica e impidiendo la vida social.
      </li>
    </ul>
    <p>
      Cuando nuestros familiares presentan signos o síntomas de depresión, ansiedad, psicosis, agresividad, hiperactividad motora, desinhibición, apatía o alteración de pensamiento, el familiar o cuidador debe buscar atención médica especializada, pues podrían ser indicadores no sólo de demencia, sino de otros padecimientos. Los tipos más comunes son demencia de Alzheimer y demencia vascular.
    </p>
    <p>
      Es importante que los cuidadores sepan que hay diferentes tipos de demencia y que, aunque para la mayoría no se ha desarrollado cura, existen tratamientos que ayudan a la mejora de los síntomas, al alivio del dolor y al aumento de la calidad de vida. Cada tratamiento será individualizado y prescrito por un médico especialista, quien en todos los casos deberá evaluar detenida y cuidadosamente a la persona para diagnosticar el tipo de demencia y establecer un tratamiento, tanto farmacológico como no farmacológico. El profesional encargado de realizar el diagnóstico inicial es el médico de primer contacto y quien dará el seguimiento es un equipo multidisciplinario de salud, dentro del cual los cuidadores son actores fundamentales.
    </p>

  </div>
  <div id="mainImage">
    <img src="img/3 interrogacion.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    3. DEMENCIA Y FRAGILIDAD
  </div>
</footer>
