<div class="spacer">

</div>

<div class="content">
  <div id="mainInfo">
    <div id="demencia">
      <h2>¿Qué es la demencia?</h2>
      <p>
        Cuando un familiar es diagnosticado con demencia, en general, tanto la persona como la familia experimenta una sensación de incertidumbre, temor e inclusive negación. Una estrategia que nos permite aceptar la enfermedad y comenzar a actuar para mejorar la calidad de vida de quien la padece, es contar con información sencilla  y confiable.
      </p>
      <p>
        Aproximadamente 80% de los adultos mayores con demencia son tratados en sus hogares por sus familiares o cuidadores, quienes con frecuencia no cuentan con conocimientos básicos sobre las medidas adecuadas para la atención del padecimiento.
      </p>
      <p>
        Como cuidador o cuidadora debes saber que:
      </p>
      <ul>
        <li>
          La demencia es un trastorno progresivo que deteriora funciones cognitivas: lenguaje (capacidad de comunicarse), memoria (capacidad de almacenar información), cálculo (capacidad de razonar y realizar operaciones aritméticas y matemáticas), atención (capacidad de dirigir nuestros sentidos de manera razonada), praxias (capacidad de realizar movimientos coordinados y planeados) y gnosias (capacidad de reconocer objetos, personas, lugares, palabras, olores, sabores, etc.).
        </li>
        <li>
          En las demencias se pierden gradualmente las funciones cerebrales superiores, limitando la vida biológica e impidiendo la vida social.
        </li>
      </ul>
      <p>
        Cuando nuestros familiares presentan signos o síntomas de depresión, ansiedad, psicosis, agresividad, hiperactividad motora, desinhibición, apatía o alteración de pensamiento, el familiar o cuidador debe buscar atención médica especializada, pues podrían ser indicadores no sólo de demencia, sino de otros padecimientos. Los tipos más comunes son demencia de Alzheimer y demencia vascular.
      </p>
      <p>
        Es importante que los cuidadores sepan que hay diferentes tipos de demencia y que, aunque para la mayoría no se ha desarrollado cura, existen tratamientos que ayudan a la mejora de los síntomas, al alivio del dolor y al aumento de la calidad de vida. Cada tratamiento será individualizado y prescrito por un médico especialista, quien en todos los casos deberá evaluar detenida y cuidadosamente a la persona para diagnosticar el tipo de demencia y establecer un tratamiento, tanto farmacológico como no farmacológico. El profesional encargado de realizar el diagnóstico inicial es el médico de primer contacto y quien dará el seguimiento es un equipo multidisciplinario de salud, dentro del cual los cuidadores son actores fundamentales.
      </p>

      <ul class="numbered linker">
        <linker href="#manifestaciones">
          <li>Primeras manifiestaciones</li>
        </linker>
        <linker href="#diagnostico">
        <li>
          Diagnóstico
        </li>
      </linker>
      <linker href="#clasificacion">
        <li>
          Clasificación
        </li>
      </linker>
      <linker href="#evolucion">
        <li>
          Evolución y fases
        </li>
      </linker>
      <linker href="#complicaciones">
        <li>
          Complicaciones
        </li>
      </linker>
      <linker href="#tratamientos">
        <li>
          Tratamientos
        </li>
      </linker>
      <linker href="#sugerencias">
        <li>
          Sugerencias
        </li>
      </linker>
      </ul>

      <h2 id="manifestaciones">1. Primeras manifiestaciones.</h2>
      <p>
        A continuación te presentamos un listado con algunas de las primeras manifestaciones de demencia. Sin embargo, no debes olvidar que sólo el médico podrá diagnosticar la enfermedad. Recuerda que algunas de estas manifestaciones pueden estar relacionadas con otros padecimientos o alteraciones, con el consumo de medicamentos y con cambios en el estilo de vida, por lo que es importante no alarmarse.  Si tienes dudas o piensas que tu familiar podría padecer alguna demencia, consulta a tu médico.
      </p>
      <p>
        <b>Algunas de las primeras manifestaciones de las demencias son:</b>
      </p>
      <ul>
        <li>Problemas para recordar eventos recientes</li>
        <li>Dificultad para realizar o iniciar tareas conocidas y habituales</li>
        <li>Presentar confusión</li>
        <li>Alteraciones de carácter y de comportamiento</li>
        <li>Deterioro en el razonamiento</li>
        <li>Dificultad en el lenguaje</li>
        <li>Dificultad para completar el pensamiento</li>
        <li>Dificultad para seguir una instrucción</li>
        <li>Incapacidad para el control de las emociones (reacciona de forma exagerada)</li>
        <li>Desorientación tiempo-espacial</li>
        <li>Disminución de la capacidad de elaborar ideas y llegar a una conclusión</li>
        <li>Equivocaciones frecuentes, como colocar objetos en lugares que no corresponden</li>
      </ul>

      <h2 id="diagnostico"> 2. Diagnóstico </h2>
      <p> Como ya se mencionó, el diagnóstico de una demencia siempre estará en manos del personal especializado. Inicialmente, el médico de primer contacto será el encargado de solicitar exámenes de laboratorio, realizar exploración física y una o varias entrevistas al paciente y a sus cuidadores o familiares; además, los vinculará con otros especialistas. </p>
      <p> Es importante que consideres que para poder diagnosticar a una persona con demencia se requieren, entre otros elementos: </p>
      <ul>
        <li>Historia clínica</li>
        <li>Exploración física</li>
        <li>Análisis de sangre y orina</li>
        <li>Marcadores biológicos</li>
        <li>Examen neuropsicológico</li>
        <li>Evaluación psicoemocional</li>
        <li>Pruebas funcionales y/o estudios de neuroimagen: tomografías y resonancias magnéticas</li>
        <li>Evaluación gerontológica integral</li>
      </ul>
      <p>Este protocolo permitirá al especialista conocer si la persona cursa por una demencia o presenta otra enfermedad o condición que provoque trastornos en las funciones mentales.</p>

      <h2 id="clasificacion">3. Clasificación</h2>
      <p>
        <b>¿Cómo se clasifican las demencias?</b>
      </p>
      <p>Las demencias se pueden clasificar de diferentes maneras, pero una forma común de hacerlo es por su origen o causas.</p>

      <h3>Demencias degenerativas primarias</h3>
      <p>Este tipo de demencia es causada por un trastorno que afecta de modo primario al sistema nervioso central. Dentro de las demencias degenerativas primarias se encuentran la demencia de Alzheimer, la enfermedad de Pick y las demencias asociadas con otras enfermedades neurológicas como la enfermedad de Parkinson o la de Huntington. </p>
      <ul>
        <li>Enfermedad de Pick</li>
        <li>Enfermedad de Alzheimer (EA)</li>
        <li>Degeneración lobar frontotemporal (DLFT)</li>
        <li>Demencia asociada a enfermedad Parkinson (DEP)</li>
        <li>Enfermedad de Huntington</li>
        <li>Parálisis supranuclear</li>
        <li>Demencia con cuerpos de Lewy (DCLW)</li>
      </ul>

      <h3>Demencias vasculares</h3>
      <p>Estas demencias son producidas por múltiples infartos (muerte de tejido cerebral por falta de aporte sanguíneo) en la corteza del cerebro y en zonas más profundas de este, llamadas estructuras subcorticales. Los principales factores de riesgo para desarrollar este tipo de demencias son la hipertensión arterial, la diabetes mellitus y las cardiopatías. El inicio de este tipo de demencias es súbito o agudo y suele manifestarse después de un evento vascular cerebral. </p>

      <ul>
        <li>Enfermedad multifocal-difusa</li>
        <li>Demencia de grandes vasos</li>
        <li>Demencia por enfermedad de pequeño vaso</li>
        <li>Hipoperfusión, demencia hipóxico-isquémica</li>
        <li>Demencia por infarto venoso</li>
        <li>Demencia hemorrágica</li>
        <li>Enfermedad focal/Demencia por infartos estratégicos</li>
      </ul>

      <h3>Demencias secundarias o tratables</h3>
      <p>Son aquellas demencias que tienen una causa identificable y, al ser tratadas en un plazo razonable, permite la mejora e, inclusive, la desaparición del proceso demencial. Las causas más frecuentes de estas son las enfermedades sistémicas como los trastornos en el cerebro por el mal funcionamiento del hígado o de los riñones, que provoca que haya toxinas que afectan su función, alteraciones en el nivel de hormonas de la tiroides o, en menor medida, por causa de un déficit nutricional. También son causas de demencias reversibles: </p>
      <ul>
        <li>Tumores primarios e hidrocefalia normotensa</li>
        <li>Traumatismos (cuando generan hematoma subdural)</li>
        <li>Infecciones como la tuberculosis, neurosífilis, SIDA, etc.</li>
      </ul>

      <h2 id="evolucion"> 4. Evolución y fases </h2>
      <h3>Fase inicial </h3>
      <p>Algunos signos observables que se alcanzan a percibir pueden ser olvidos leves, desinterés en actividades y descuidos en tareas rutinarias. Sin embargo, en su fase inicial no afectan las actividades de la vida diaria de manera importante. </p>
      <h3>Fase leve </h3>
      <p>La persona puede manifestar dificultades para recordar actividades recientes, nombres de personas u objetos conocidos, originándole malestar o preocupación que en ocasiones suele ignorar u ocultar. No se presenta interferencia en la realización de actividades de la vida diaria.</p>
      <p>Entre los signos observables podemos apreciar:</p>
      <ul>
        <li>Repetir la frase o plática </li>
        <li>Olvidar hechos recientes </li>
        <li>Dificultad para realizar más de una tarea al mismo tiempo </li>
        <li>Problemas de lenguaje </li>
        <li>Desorientación </li>
        <li>Cambios de personalidad </li>
        <li>Disminución de relaciones sociales </li>
        <li>Desinterés en actividades que le gustaba realizar </li>
      </ul>
      <h3>Fase intermedia</h3>
      <ul>
        <li> El deterioro en la memoria se hace más evidente</li>
        <li> Olvidan detalles acerca de eventos repetitivos o de su historia personal</li>
        <li> Cambian sus patrones de sueño</li>
        <li> Presentan dificultad en la lectoescritura</li>
        <li> Disminuye la capacidad para elaborar ideas y llegar a conclusiones.</li>
        <li> Aislamiento</li>
        <li> Alucinaciones</li>
        <li> Delirios</li>
        <li> Dificultad en la realización de actividades sencillas</li>
        <li> En algunos casos pueden aparecer signos y síntomas de depresión, agitación, nerviosismo y, de manera poco frecuente, conductas autolesivas</li>
      </ul>
      <h3> Fase avanzada </h3>
      <p> La persona: </p>
      <ul>
        <li> No comprende el lenguaje hablado y escasamente lo utiliza.</li>
        <li> No reconoce a personas conocidas (familiares, amigos, vecinos, etc.).</li>
        <li> No puede realizar actividades básicas de la vida diaria (comer, trasladarse, etc.).</li>
        <li> Aparecen problemas para ingerir alimentos e incontinencia urinaria y, más adelante, fecal.</li>
      </ul>


      <h2 id="complicaciones"> 5. Complicaciones</h2>
      <p> Cuando una persona padece una demencia pueden presentarse situaciones que complican su salud y  funcionalidad. Es importante que los cuidadores las conozcan con la finalidad de prevenirlas, solicitando ayuda y asesoría al equipo multidisciplinario de salud. Algunas de las complicaciones más frecuentes son: </p>
      <ul>
        <li> <b>Desnutrición y deshidratación</b> originadas por no ingerir suficientes alimentos o líquidos, lo que se puede deber a olvidos o a la dificultad en el acceso a alimentos, la imposibilidad de prepararlos o la incapacidad para el manejo de los utensilios (cucharas, tenedores, cuchillos, vasos, etc.).</li>
        <li> <b>Contracturas musculares </b> causadas por el deterioro de la función muscular o por pérdida de la capacidad para mover articulaciones.</li>
        <li> <b>Caídas y fracturas</b> debidas a  la dificultad en la movilidad o al deterioro en la  atención o en la percepción visual del espacio.</li>
        <li> <b>Infecciones</b>, sobre todo urinarias, cuando se presenta; además, incontinencia urinaria o fecal.</li>
        <li> <b>Úlceras por presión</b>, que pueden estar vinculadas con deshidratación, ingestión de escasas proteínas en la dieta y a escasa o nula movilización; es decir, pasar largos periodos en la misma posición.</li>
      </ul>
      <p> En cuanto los cuidadores perciban alguna de estas complicaciones, es muy importante acudir al médico. </p>


      <h2 id="tratamientos">6. Tratamientos </h2>
      <p>Hasta el momento las demencias no tienen cura ni un tratamiento único, pero, afortunadamente, el equipo multidisciplinario de salud puede elaborar un plan de tratamiento integral que ayudará a disminuir la progresión de la enfermedad y a impactar positivamente en la calidad de vida de la persona con el padecimiento.</p>
      <p>Existen dos tipos de tratamiento:</p>
      <ul class="noStyled">
        <li><b>a) Farmacológico</b></li>
      </ul>

      <p>El tratamiento farmacológico consiste en la administración de medicamentos, ya sea por vía oral, intramuscular, intravenosa, etc., y siempre es prescrito por un médico, que deberá ser ingerido o aplicado de acuerdo con las instrucciones establecidas por él. Los cuidadores deben evitar siempre la automedicación.</p>

      <p>
        <b>Este tratamiento presenta las siguientes características: </b>
      </p>

      <ul>
        <li>Atiende el origen de la demencia y comorbilidades (otras enfermedades).</li>
        <li>La medicación será siempre individualizada; es decir, se indica el mismo fármaco para todas las personas o en las mismas dosis.</li>
        <li>El tratamiento siempre será prescrito por el médico especialista.</li>
        <li>Generalmente los medicamentos se administrarán a inicio en dosis bajas, que se irán incrementando paulatinamente.</li>
        <li>Recuerde que la acción de estos fármacos no es inmediata, por lo que los cuidadores deben ser pacientes y preguntar sus dudas al médico especialista.</li>
        <li>Es importante que los cuidadores observen si se presenta alguna reacción secundaria por el consumo de los medicamentos. Si es así, deberá contactar al médico de manera inmediata.</li>
        <li>En general, se emplean dos tipos de fármacos: los inhibidores de la acetilcolinesterasa y los antipsicóticos y, ocasionalmente, se prescribe algún antidepresivo.</li>
        <li>En la actualidad estos medicamentos han demostrado su efectividad; tenga confianza en su médico tratante; recuerde que puede preguntarle cualquier duda.</li>
        <li>Aunque los medicamentos suelen ser costosos, el beneficio a largo plazo es muy positivo.</li>
        <li>Recuerde que a lo largo del padecimiento existe la posibilidad de sustituir o complementar el tratamiento.</li>
      </ul>

      <ul class="noStyled">
        <li> <b>a)	No farmacológico </b> </li>
      </ul>

      <p>Este tipo de tratamiento busca mejorar la calidad de vida y estado de salud de las personas, a partir de diversas intervenciones en los diferentes ámbitos de la vida de la persona. </p>

      <p> <b>Este tratamiento tiene algunas características: </b> </p>
      <ul>
        <li> Generalmente se encamina a disminuir la polifarmacia.</li>
        <li> Se apoya en la observación de la conducta, y puede evitar o disminuir algunos síntomas asociados con la demencia, a efectos secundarios de algunos medicamentos u otra situación que coadyuve en el mejor tratamiento de la persona.</li>
        <li> Está vinculado a la mejora del ambiente para favorecer independencia y el mejor estado de ánimo de la persona con demencia.</li>
        <li> Puede incluir rehabilitación o ejercicio físico.</li>
        <li> Se apoya en la terapia ocupacional.</li>
        <li> Incluye el uso de ayudas técnicas en beneficio de la independencia de la persona.</li>
        <li> Busca mantener, prolongar o recuperar la funcionalidad física, mental y social.</li>
      </ul>
      <h2 id="sugerencias">7. Sugerencias </h2>
      <p>La convivencia con las personas con demencia con frecuencia hace que los cuidadores se enfrenten con problemáticas, tensiones y crisis derivadas de la situación particular que vive. A continuación, presentamos algunas sugerencias que podrás tomar en cuenta y serán de utilidad para disminuir la presión emocional y física.</p>
      <p>Ante los cambios abruptos de conducta de la persona a tu cuidado:</p>
      <ul>
        <li> Trata de mantener la calma y no te asustes.</li>
        <li> Evita los enfrentamientos y las discusiones, pues la persona que está bajo tus cuidados no comprende que su conducta no es normal.</li>
        <li> Intenta distraer su atención hacia otra actividad; por ejemplo, salir del domicilio a dar un paseo, mostrarle un álbum fotográfico, etc.</li>
        <li> Trata de ser empático. No es fácil, pero tienes que intentarlo; ponte en su lugar y busca ser comprensivo.</li>
        <li> No tomes los comentarios de manera personal; recuerda que no está en control de sus respuestas.</li>
        <li> Si la comunicación verbal no está resultando, prueba con la comunicación no verbal; observa lo que te dicen sus gestos y su cuerpo, y busca establecer contacto.</li>
      </ul>
      <p>Considera siempre que las demencias son enfermedades individualizadas y multifactoriales. Por tanto, debemos ser flexibles y entender que no todas las personas reaccionan igual y no siempre van a responder de la misma manera. Lo que ha servido una vez, quizá en otra ocasión no funcione, y viceversa. </p>
    </div>

    <div id="alzheimer">
      <h2>¿Qué es el Alzheimer? </h2>
      <p> Es un trastorno neurodegenerativo, que se caracteriza por ser progresivo e irreversible, y afecta al cerebro, deteriora de manera global las funciones mentales superiores provocando: </p>
      <ul class="numbered">
        <li> Pérdida de la memoria</li>
        <li> Desorientación en el tiempo y espacio</li>
        <li> Cambios de personalidad</li>
        <li> Dificultad en el razonamiento y aprendizaje</li>
        <li> Disminución del sentido crítico</li>
        <li> Alteraciones del comportamiento y lenguaje</li>
      </ul>
      <p>La enfermedad de Alzheimer es la causa más común de demencia en el mundo. Al igual que otras demencias, representa un enorme reto para quien la padece, para sus familiares y para las personas que forman parte de su entorno inmediato. </p>
      <p> Es muy importante que los cuidadores tengan conocimentos básicos sobre la enfermedad y sus implicaciones. </p>
      <ul class="numbered linker">
        <li> <linker href="#factoresAlz"> Factores de riesgo y de protección </linker> </li>
        <li> <linker href="#etapasAlz"> Inicio y etapas de la Demencia de Alzheimer </linker> </li>
        <li> <linker href="#diagnosticoAlz"> Diagnóstico temprano </linker> </li>
        <li> <linker href="#sugerenciasAlz"> Sugerencias </linker> </li>
        <li> <linker href="#mitosAlz"> Mitos sobre el Alzheimer </linker> </li>
        <li> <linker href="#derechosAlz"> Derechos de la persona con Alzheimer </linker> </li>
        <li> <linker href="#datosAlz"> Datos interesantes </linker> </li>
      </ul>
      <h2 id="factoresAlz">1. Factores de riesgo y de protección </h2>
      <h3>Factores de riesgo</h3>
      <p>De acuerdo con la Organización Mundial de la Salud, un factor de riesgo es cualquier rasgo, característica o exposición de un individuo que aumente su probabilidad de sufrir una enfermedad o lesión. Algunos estudios han señalado que existen algunos factores que parecen ser relevantes para el desarrollo de la enfermedad; sin embargo, algunos de ellos aún son controversiales.</p>
      <ul>
        <li> Edad. La enfermedad aparece con mayor frecuencia en personas mayores de 60 años y más.</li>
        <li> Ser mujer. Los estudios refieren que hay un hombre por cada dos mujeres con este padecimiento; no obstante, esto podría deberse a que las mujeres tienen una mayor esperanza de vida.</li>
        <li> Historia familiar. Algunos estudios señalan que alrededor del 40% de las personas que padecen Alzheimer, contaban con algún familiar con la misma enfermedad.</li>
        <li> Baja escolaridad. Se ha señalado que la enfermedad se presenta en personas con pocos años de escolaridad.</li>
        <li> Diabetes mellitus. Se ha encontrado asociación entre ambos padecimientos.</li>
      </ul>
      <h3>Factores de protección</h3>
      <p>Un factor de protección es cualquier rasgo, característica o exposición de un individuo que disminuye su probabilidad de sufrir una enfermedad o lesión:</p>
      <ul>
        <li> Tener una dieta saludable que incluya frutas y vegetales frescos, granos enteros, productos del mar y aceite de olivo.</li>
        <li> Desarrollar actividad física (más de tres veces por semana o 150 minutos a la semana), que permita oxigenar el cerebro.</li>
        <li> Manejar adecuadamente situaciones de ansiedad, presión, inquietud y aprehensión.</li>
        <li> Mantener y fomentar la higiene del sueño.</li>
        <li> Evitar consumir bebidas alcohólicas.</li>
        <li> Actividad cognitiva: hablar varios idiomas, tocar instrumentos musicales, leer, estudiar una carrera, aprender cosas que impliquen funciones superiores.</li>
        <li> Relacionarse con gente/participar en actividades de grupo.</li>
        <li> Relacionar la nueva información con conocimientos previos.</li>
      </ul>
      <h2 id="etapasAlz">2. Inicio y etapas de la demencia de Alzheimer </h2>
      <p>La enfermedad no presenta etapas claramente definidas; el deterioro puede ser lento o rápido y, en ocasiones, algunas personas incluso pueden presentar periodos de estabilidad, aunque tarde o temprano, las personas perderán todas sus habilidades para realizar sus actividades básicas de la vida diaria.</p>
      <p>Generalmente, se distinguen tres etapas evolutivas de esta enfermedad, basadas en la manifestación de síntomas. Sin embargo, existe variabilidad entre la presentación de los síntomas y la duración de cada etapa.</p>
      <h3>Demencia en etapa inicial</h3>
      <p>En la fase incipiente es difícil realizar un diagnóstico, ya que puede confundirse con otras demencias o padecimientos como la depresión. Esta dura entre uno y tres años, y la persona tiende a conservar su independencia para realizar sus actividades de la vida diaria.</p>
      <p>El inicio de la enfermedad puede ser:</p>
      <ul>
        <li> Temprano: cuando la enfermedad se presenta antes de los 60 años</li>
        <li> Tardío: cuando inicia después de los 60 años.</li>
      </ul>
      <p>El cuadro se caracteriza por:</p>
      <ul>
        <li> Déficit en la memoria reciente </li>
        <li> Desorientación temporal y espacial </li>
        <li> Errores de juicio </li>
        <li> Dificultad para recordar objetos o nombrarlos </li>
        <li> Cambios bruscos en el estado de ánimo </li>
        <li> Cambios en el ciclo sueño-vigilia </li>
        <li> Confusión nocturna </li>
        <li> Trastornos en el pensamiento abstracto </li>
        <li> Depresión </li>

      </ul>
      <h3>Demencia de fase intermedia</h3>
      <p>Se caracteriza por el agravamiento de los síntomas de la etapa inicial, además de que la memoria remota se encuentra afectada, olvidando etapas de su propia vida. Presentan un déficit importante en el lenguaje, la lectura y escritura, así como en la comprensión y disminución en el vocabulario. Esta etapa puede tener una duración de entre dos y ocho años y se caracteriza por una pérdida acentuada de la capacidad para realizar actividades básicas de la vida diaria, por lo que requieren el apoyo del cuidador de manera constante.</p>
      <p>Además se presentan:</p>
      <ul>
        <li> Alteraciones motoras como temblores o dificultad para caminar </li>
        <li> Disminución de la capacidad de cálculo </li>
        <li> Dificultad para reconocer a personas  </li>
        <li> Incontinencia urinaria y fecal ocasional  </li>
        <li> Alucinaciones y delirios </li>
        <li> Comportamiento inadecuado </li>

      </ul>

      <h3>Demencia avanzada</h3>
      <p>En esta etapa se intensifican todos los síntomas de las etapas anteriores, se presenta una pérdida de la capacidad para comunicarse y puede presentar total mutismo e indiferencia al ambiante externo. La capacidad de movilidad se limita hasta llegar a la postración y, por tal motivo, la dependencia es total. Esta etapa puede tener una duración de entre dos y cuatro años.</p>
      <p>Por todo lo anterior, la persona en dicha etapa está propensa a padecer infecciones, desnutrición, deshidratación, úlceras por presión o caídas. En esta fase los cuidadores deben implementar estrategias que les permitan sobrellevar esta situación de la mejor manera, pues es una etapa muy difícil para ambas partes.</p>

      <div class="note">
        <p>Para no olvidar:</p>
        <p>
          La enfermedad de Alzheimer afecta a cada persona de manera diferente.
          Intervienen diversas determinantes según su personalidad, condición física, estilo de vida, relaciones familiares, entre otras.
          Cada persona vivirá el progreso de la enfermedad de manera distinta.
        </p>
      </div>

      <h2 id="diagnosticoAlz">3. Diagnóstico Temprano</h2>
      <p>Como para cualquier enfermedad, el diagnóstico temprano de la demencia de Alzheimer ofrece una serie de oportunidades que podemos aprovechar:</p>
      <ul>
        <li> Tenemos oportunidad de buscar información y ayuda para comprender la enfermedad.</li>
        <li> Podemos realizar un plan para afrontar las distintas etapas y retos de la enfermedad.</li>
        <li> Nos da una oportunidad de realizar modificaciones en la vivienda para evitar accidentes.</li>
        <li> Hace posible una administración temprana de tratamientos para mejorar la calidad de vida.</li>
        <li> Retrasa la institucionalización.</li>
      </ul>
      <div class="note">
        <p>Para no olvidar:</p>
        <p>El diagnóstico definitivo de esta enfermedad se hace a través de un examen del cerebro post mortem.</p>
      </div>

      <h2 id="sugerenciasAlz"> 4. Sugerencias </h2>
      <h3>¿Cómo podemos actuar?</h3>
      <table>
        <tr>
          <td colspan="2" class="title">Alimentación</td>

        </tr>
        <tr>
          <td>1. Procura que la dieta sea equilibrada y, en la medida de lo posible, respete los gustos de la persona.</td>
          <td>5. Vigila incrementos o disminución del peso.</td>
        </tr>
        <tr>
          <td>2. Incluye suficiente fibra natural para evitar estreñimiento.</td>
          <td>6. Comprueba la temperatura de los alimentos.</td>
        </tr>
        <tr>
          <td>3. Procura que la persona beba alrededor de dos litros de agua al día; puede establecer horarios.</td>
          <td>7. Proporciona instrucciones cortas y sencillas, de fácil comprensión al momento de comer.</td>
        </tr>
        <tr>
          <td>4. Evita que la persona consuma bebidas con cafeína o alcohol.</td>
          <td>8. Se recomienda servir los platos de uno en uno y brindar el tiempo suficiente para que los consuman.</td>
        </tr>
        <tr>
          <td colspan="2">
            <b>
              Recomendaciones
            </b>
          </td>
        </tr>
        <tr>
          <td colspan="2">Fomenta la toma de decisiones siempre que sea posible, como en la elección de los alimentos que desea consumir cada día.</td>
        </tr>
        <tr>
          <td colspan="2">En fases iniciales de la enfermedad, si salen a algún lugar, permite que la persona elija adónde ir, qué consumir y solicitar al mesero sus alimentos. </td>
        </tr>
        <tr>
          <td colspan="2">Resguarda bajo llave o en un lugar que no esté al alcance de la persona, medicamentos, productos tóxicos o de limpieza.</td>
        </tr>
        <tr>
          <td colspan="2" class="title">Higiene y aseo personal</td>
        </tr>
        <tr>
          <td>1. Es importante crear rutinas y horarios. Esto proporciona seguridad, elementos de organización y orientación a la persona.</td>
          <td>2. Es muy importante que la persona participe en las actividades de aseo según sus posibilidades.</td>
        </tr>
        <tr>
          <td>3. Intenta que el baño sea una actividad agradable. Trata de respetar las costumbres de la persona. Por ejemplo, si siempre se bañaba por la mañana, hay que mantener (si es posible) esa costumbre.</td>
          <td>4. Lava o pide que se lave el cabello al ﬁnal del baño, para prevenir sobresaltos o agitación. </td>
        </tr>
        <tr>
          <td>5. Seca muy bien todas las partes del cuerpo, teniendo especial cuidado con las manos, los pies y aquellos pliegues que quedan ocultos; como, por ejemplo, debajo del pecho, en el caso de las mujeres. </td>
          <td>6. Recuerda apoyar a la persona para realizar el aseo de boca y dientes después de cada comida.</td>
        </tr>
        <tr>
          <td>7. Si el enfermo lleva prótesis dental, se limpiará por lo menos una vez al día.</td>
          <td>8. Proporciona a la persona únicamente los utensilios y objetos de aseo personal que se vayan a utilizar.</td>
        </tr>
        <tr>
          <td colspan="2" class="title">Incontinencia urinaria</td>
        </tr>
        <tr>
          <td>1. Identifica la causa que lo origina.</td>
          <td>2. Trata de establecer una rutina, tanto para la micción como para la defecación.</td>
        </tr>
        <tr>
          <td>3. Verifica la frecuencia de micción y defecación.</td>
          <td>4. Si la persona usa pañal, es importante estar pendiente del cambio del mismo con la frecuencia necesaria y mantener la piel limpia e hidratada.</td>
        </tr>
        <tr>
          <td colspan="2" class="title">Vestido</td>
        </tr>
        <tr>
          <td>1.Procura mantener una rutina para el cambio de ropa, tanto por la mañana como por la noche.</td>
          <td>2. En medida de sus posibilidades, se debe fomentar que la persona elija la ropa con la que se va a vestir cada día.</td>
        </tr>
        <tr>
          <td>3. Hay que preservar la intimidad de la persona y proporcionarle tiempo suficiente para que lleve a cabo esta actividad.</td>
          <td>4. Cuando la movilidad está comprometida, sienta a la persona para vestirla y reducir el riesgo de caídas.</td>
        </tr>
        <tr>
          <td colspan="2" class="title">Entorno amigable y seguro</td>
        </tr>
        <tr>
          <td>1. La iluminación debe contribuir a diferenciar el día y la noche; evitar reflejos o destellos en objetos o superficies.</td>
          <td>2. Se recomienda pintar las habitaciones con colores suaves, que favorecen la relajación de la persona.</td>
        </tr>
        <tr>
          <td>3. Se recomienda no tener demasiados objetos decorativos en el hogar, para evitar la sobrecarga perceptiva, y poder dejar zonas libres donde pueda apoyarse mientras camine.</td>
          <td>4. 1.	Cierra las puertas de las habitaciones y asegura la puerta de la calle, ventanas, balcones o salidas a lugares que podrían ser riesgosos.</td>
        </tr>
        <tr>
          <td>5. Evitar alfombras o fijarlas, debido al riesgo de caídas al tropezar.</td>
          <td>6. Las esquinas de todos los muebles del hogar pueden estar forradas o redondeadas para evitar golpes.</td>
        </tr>
        <tr>
          <td>7. Se deben retirar los muebles inestables que puedan volcarse al apoyarse en ellos.</td>
          <td>8. Oculta los enchufes que sean visibles en el domicilio para evitar posibles riesgos. </td>
        </tr>
        <tr>
          <td>9. Coloca relojes y calendarios en lugares visibles.</td>
          <td>10. Elabora carteles y dibujos sencillos, para orientar a la persona.</td>
        </tr>
        <tr>
          <td colspan="2"> <b>Recomendaciones</b> </td>
        </tr>
        <tr>
          <td colspan="2">Los cambios en el entorno deben ser graduales y estarán relacionados con las necesidades de la persona.</td>
        </tr>
        <tr>
          <td colspan="2">Es importante que las modificaciones no sean tan abruptas, que incluso generen confusión en la persona. Debe poder reconocer su espacio.</td>
        </tr>
        <tr>
          <td colspan="2">Si es posible, retire gradualmente objetos que representen un sobreestímulo para la persona, como pueden ser decoraciones excesivas, colores muy brillantes en las paredes, etc.</td>
        </tr>
        <tr>
          <td colspan="2" class="title">Actividades cotidianas</td>
        </tr>
        <tr>
          <td>1. Estimule las capacidades sensoriales, perceptivas, cognitivas y motrices de la persona.</td>
          <td>2. Incluya a la persona en las actividades familiares y sociales.</td>
        </tr>
        <tr>
          <td>3. Fomente su participación en actividades cotidianas.</td>
          <td>4. Prolongue la independencia física el mayor tiempo posible. No realice actividades que la persona no pueda hacer.</td>
        </tr>
      </table>

      <h2 id="mitosAlz">5. Mitos sobre al Alzheimer </h2>
      <p>Al igual que otras enfermedades mentales, el Alzheimer genera sentimientos de temor, rechazo o negación por parte de las personas, las comunidades y las familias, que generalemente se basan en la falta de información y en prejuicios. Por tal motivo, es muy importante que los cuidadores conozcan los mitos y realidades sobre este padecimiento.</p>
      <table>
        <tr>
          <td class="center" >Mito</td>
          <td class="center" >Realidad</td>
        </tr>
        <tr>
          <td>Es una forma de locura.</td>
          <td>La persona puede presentar comportamientos diferentes o deshinibidos.</td>
        </tr>
        <tr>
          <td>Es una enfermedad contagiosa.</td>
          <td>Es una enfermedad degenerativa y no es contagiosa.</td>
        </tr>
        <tr>
          <td>Las personas con demencia son agresivas.</td>
          <td>En ocasiones no controlan sus actos, pero esto no sucede todo el tiempo.</td>
        </tr>
        <tr>
          <td>El Alzheimer es consecuencia de la vejez.</td>
          <td>Una proporción muy reducida de personas envejecidas desarrolla Alzheimer</td>
        </tr>
        <tr>
          <td>Es una enfermedad de los viejos.</td>
          <td>Existen casos documentados de personas de entre 30 y 40 años que han manifestado síntomas en etapa incial.</td>
        </tr>
      </table>

      <h2 id="derechosAlz"> 6. Derechos de las personas con demencia </h2>
      <p>Las personas con demencia gozan de los mismos derechos que cualquier otro ser humano, y son protegidas de igual forma por la Declaración Universal de los Derechos Humanos, la Convención Internacional sobre los Derechos de las Personas con Discapacidad y demás instrumentos internacionales, nacionales y locales.</p>
      <p>Entre los derechos que no debemos olvidar, y que además debemos proteger como cuidadores, se encuentran:</p>
      <ul>
        <li> A la dignidad</li>
        <li> A la autonomía</li>
        <li> A la libertad en la toma de decisiones</li>
        <li> A la independencia</li>
        <li> A la no discriminación</li>
        <li> A la igualdad de oportunidad</li>
        <li> Al acceso a servicios de salud</li>
        <li> A la protección</li>
        <li> A una vida libre de violencia</li>
        <li> A la protección social</li>

      </ul>
      <div class="note">
        <p>Para no olvidar:</p>
        <p>Las personas con demencia y sus cuidadores tienen los mismos derechos humanos que cualquier otro ciudadano.</p>
        <p>En algunos países no se respetan sus derechos humanos, ya que se usan medios de inmovilización, tanto físicos como químicos sin autorización de ellas o de sus cuidadores.</p>
        <p>Actualmente, carecemos de marcos legislativos adecuados para garantizar la calidad en la prestación de servicios a las personas con demencia, sus cuidadores y familiares.</p>
        <p>La ética debe ser una parte esencial en la capacitación de todos los involucrados en la atención de la demencia, incluyendo responsables políticos, profesionales y familiares.</p>
      </div>

      <h2 id="datosAlz"> 6. Datos interesantes </h2>
      <b>Sabías que…</b>
      <ul>
        <li> No es lo mismo un deterioro cognitivo leve  que una demencia, ya que el primero se considera un estado pre-demencial.</li>
        <li> Pueden pasar hasta cinco años para que una persona sea diagnosticada con demencia.</li>
        <li> Los casos de demencia se duplican cada 20 años.</li>
        <li> Se estima que a nivel mundial para el 2030 habrá 65.7 millones de personas con demencia y 115.4 millones para el 2050</li>
        <li> En el 2015, el 58% de las personas con demencia vivían  en países con bajos y medianos ingresos.</li>
        <li> Más de 604 millones de dólares anualmente son destinados en la atención de demencia a nivel mundial.</li>
        <li> El riesgo de presentar una demencia se incrementa hasta cuatro veces si se tiene un familiar de primer grado con el padecimiento.</li>
        <li> Del total de las demencias, el Alzheimer es la principal con más del 50% de frecuencia.</li>
        <li> Hasta ahora se desconoce la causa del Alzheimer  y no tiene cura.</li>
        <li> De acuerdo con los datos de la Secretaría de Salud, en México más de 350,000 personas están afectadas por la enfermedad de Alzheimer y mueren por ella anualmente 2,030 personas.</li>
        <li> Esta enfermedad afecta a todos los grupos sociales y no respeta género, grupo étnico ni lugar geográfico.</li>
        <li> Aunque la enfermedad del Alzheimer es más común entre personas mayores, los jóvenes también pueden padecerla.</li>
        <li> La demencia es una de las principales causas de discapacidad.</li>
        <li> La demencia tiene un impacto físico, psicológico, social y económico en los cuidadores, las familias y la sociedad.</li>
      </ul>
    </div>




    <div id="parkinson"></div>
    <div id="fragilidad"></div>
  </div>
  <div id="mainImage">
    <img src="img/3 interrogacion.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    3. DEMENCIA Y FRAGILIDAD
  </div>
</footer>
