:host {
  flex: 1.7;
  height: 100%;
}

#base {
  opacity: 0;
}

#mainInfo {
  font-family: 'soberana_sanslight';
  padding: 0 1em;
  overflow-y: scroll;
  height: 100%;
}

#mainInfo .note {
  border: 1px solid #333;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0.5em;
  font-family: 'soberana_sansbold';
}

#mainInfo::-webkit-scrollbar {
  width: 1em;
}
#mainInfo::-webkit-scrollbar-track {
  background: #E9E8E2;
}
#mainInfo::-webkit-scrollbar-thumb {
  background-color: #B2B2B2;
}
