<div class="spacer">

</div>

<div class="content">
  <div id="mainInfo">
    <h2>INTRODUCCIÓN</h2>
    <p>
      El cuidado de las personas envejecidas frágiles y con demencia
    </p>
    <p>
      El cuidado de una persona envejecida involucra un gran esfuerzo físico, emocional y económico. Para muchas personas que cuidan, ya sea por decisión o imposición, el dedicar tiempo de cuidado representa un cambio en la forma de vida, en la distribución del tiempo, en las actividades cotidianas e, inclusive, en la relación que establecen con los otros y con ellos mismos.
    </p>
    <p>
      Para lograr que los cuidados sean adecuados y adaptados a cada persona, es importante contar con información básica que nos permita conocer los padecimientos y sus posibles complicaciones para prevenirlas. Pero también es importante que el cuidador cuente con información sobre su autocuidado, para no enfermar y para no manifestar sobrecarga del cuidador.
    </p>

    <h2 id="objetivo">Objetivo</h2>
    <p>
      El objetivo de este curso es proporcionar información sencilla a los cuidadores informales, que les permita conocer y comprender qué es la demencia y la fragilidad, así como proporcionar estrategias y herramientas para desempeñar las actividades de cuidado de manera más eficiente. Además, busca transmitir al cuidador elementos para mejorar su autocuidado.
    </p>

    <h2>Instrucciones</h2>
    <p>
      A continuación encontrarás información sencilla que te será de utilidad para entender lo que le pasa a tu familiar, así como algunas ideas para mejorar la atención y para que tu trabajo sea más sencillo, en la medida de lo posible.
    </p>
    <p>
      Te recomendamos que revises este curso en orden y consultes todas las ligas y pestañas. Está diseñado para que puedas leerlo o escucharlo, y se apoya en videos tutoriales que te permitirán ver procedimientos, con el propósito de realizar actividades de cuidado, elaborar ayudas técnicas para la persona que cuidas y ejercitarte y relajarte.
    </p>
    <p>
      Esperamos que lo disfrutes y lo conviertas en una herramienta para tu trabajo cotidiano. No olvides que puedes revisarlo todas las veces que sea necesario.
    </p>
  </div>
  <div id="mainImage">
    <img src="img/2 escalera.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    2. INTRODUCCIÓN
  </div>
</footer>
