<div class="spacer">

</div>

<div class="content">
  <scroller>
    <h1>AYUDAS TÉCNICAS</h1>
    <sound src="Audio_54"></sound>

    <h2>Accesibilidad y fomento de la autonomía </h2>
    <p>Uno de los objetivos de la Gerontología Comunitaria es mantener, prolongar y/o recuperar la funcionalidad física, mental y social de las personas a medida que envejecen. Esto quiere decir que, sin importar la condición de salud de las personas, debemos buscar estrategias que permitan a cada persona lograr su máximo de autonomía.</p>
    <p>La autonomía se entiende como la capacidad de las personas para realizar actividades cotidianas sin necesidad de ayuda, para administrar su propia vida y tomar decisiones sobre aquellos aspectos que la afectan directamente.</p>
    <p>Es muy importante que los cuidadores consideren que, aunque la funcionalidad y autonomía de la persona que cuidan sea limitada o esté mermada por sus padecimientos o enfermedades, se pueden establecer estrategias que le permitan realizar actividades básicas y con ello, mejorar la sensación de bienestar y de calidad de vida.</p>
    <p>Dichas estrategias se refieren a la posibilidad de realizar pequeñas adaptaciones en el entorno inmediato, conocidas como ayudas técnicas, que facilitan la realización de actividades básicas de la vida diaria como alimentarse, vestirse o asearse.</p>
    <p>Es importante mencionar que en el mercado existen muchos productos que facilitan estas actividades; no obstante, representan un costo económico para las familias y que, en la mayoría de las ocasiones, resultan inaccesibles. Es por eso que en este módulo presentaremos ideas sencillas que los cuidadores pueden aprovechar de acuerdo con las necesidades de cada persona, que no representan costos excesivos o incluso que pueden ser resultado del uso de materiales reciclados que podemos tener en casa.</p>

    <h3>1. Apoyo para la alimentación </h3>
    <sound src="Audio_55"></sound>

    <p>En muchas ocasiones, el hecho de llevarse la comida o las bebidas a la boca, constituye un reto para quienes envejecen con alguna discapacidad o demencia. Por tal motivo, presentamos algunos ejemplos de adecuaciones que, dependiendo de la condición de cada persona, podrían ayudar a mejorar la autonomía en este aspecto. A continuación presentamos un video que muestra cómo el o la cuidadora puede, con estrategias muy sencillas, fabricar o adaptar algunos objetos.</p>
    <h3>Ejemplo 1. Apoyo para la alimentación </h3>
    <sound src="Audio_56"></sound>

    <p>Algunas enfermedades vienen acompañadas de disminución en la fuerza, en la capacidad de agarre de objetos o de disminución de la capacidad de controlar los movimientos de las manos. Por tal motivo, presentamos opciones de adaptación de los cubiertos, vasos, platos y jarras, que facilitan la autonomía de las personas y que han sido diseñados para diferentes grados de discapacidad. El o la cuidadora deberán considerar qué opción es la más adecuada para la persona que cuida, e inclusive, puede realizar adaptaciones adicionales dependiendo de las necesidades de su familiar.</p>
    <video-view src="VIDEO 6.1 Apoyo para la alimentación" ></video-view>

    <h3>Ejemplo 2. Apoyo para el aseo personal</h3>
    <sound src="Audio_57"></sound>

    <p>El aseo personal forma parte de las actividades básicas de la vida diaria; es decir, de aquellas tareas que todas las personas realizamos todos los días y que están directamente relacionados con nuestra capacidad de autocuidado. En función de la evolución de la enfermedad o padecimiento, cada persona presenta diferentes necesidades y grados de dependencia para la realización de su aseo personal. En aquellos casos en donde es posible que la persona colabore, la adaptación de algunos objetos puede favorecer su autonomía.</p>
    <video-view src="VIDEO 6.2 apoyo para el aseo" ></video-view>

    <h3>Ejemplo 3. Apoyo para vestirse. </h3>
    <sound src="Audio_58"></sound>

    <p>Vestirse es una actividad básica de la vida diaria que la mayoría de nosotros realizamos sin mayor problema. Sin embargo, para personas con padecimientos en los que su movilidad y fuerza están comprometidas, esta actividad puede resultar un gran reto. Por ello, presentamos algunas ayudas técnicas que pueden mejorar la sensación de autonomía.</p>
    <video-view src="VIDEO 6.3 Apoyo para vestirse" ></video-view>


  </scroller>
  <div id="mainImage">
    <img src="img/5 aves.jpg" alt="hombre">
  </div>
</div>

<section-menu (onMenuItem)="onMenuItem($event)"> </section-menu>


<footer>
  <img src="img/pr4.png" alt="foot">
  <div class="section">
    5. AYUDAS TÉCNICAS
  </div>
</footer>
